.calculator-popup {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  height: 100vh;
  width: 100%;
  z-index: 210;
  pointer-events: none;

  &.calculator-popup-active {
    visibility: visible;
    opacity: 1;
    pointer-events: painted;
  }
}

.calculator-popup__content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  @include to(575px) {
    flex-direction: column;
  }
  .close-popup {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40px;
    right: 40px;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
      @include from(992px) {
        transform: rotate(90deg);
      }
    }
    @include to(575px) {
      width: 16px;
      height: 16px;
      top: 30px;
      right: 22px;
    }
  }
}
.calculator-popup__title {
  width: 33%;
  background: #fec62e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: vw(160, 1920);

  @include to(1440px) {
    padding: 0 60px 0 vw(100, 1440);
  }
  @include to(1280px) {
    padding-left: vw(90, 1280);
  }
  @include to(575px) {
    width: 100%;
    padding: 30px 22px 30px 74px;
    position: relative;
  }
  svg {
    width: 45px;
    height: 60px;
    margin-bottom: 22px;
    @include to(575px) {
      position: absolute;
      left: 22px;
      top: 30px;
      width: 32px;
      height: 43px;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 24px;
    @include to(575px) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
  h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
  }
}

.calculator-popup__quiz {
  width: 67%;
  background: $white;
  padding-top: 20vh;
  overflow: hidden;
  @include to(575px) {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
  }
}
.calc-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .swiper-pagination-current {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
  }
  .swiper-pagination-total {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
  }
  .swiper-pagination-fraction {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 12px;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr;
    // justify-items: center;
    .swiper-slide__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 1.2;
      color: #000000;
      margin-bottom: 48px;
      text-align: center;
      @include to(575px) {
        font-size: 24px;
        padding: 0 22px;
      }
    }
    .input__checkbox {
      display: none;
    }
    .label__checkbox {
      display: block;
      border: 2px solid #f3f0ef;
      padding: 23px 46px;
      text-align: center;
      // width: 216px;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: #000000;
      cursor: pointer;
      border-radius: 44px;
      transition: 0.4s;
      background: transparent;
      margin-bottom: 16px;
      @include to(575px) {
        font-size: 14px;
        padding: 20px 23px;
      }
    }
    .input__checkbox:checked + label {
      border: 2px solid $yellow;
    }

    .form-field {
      // display: flex;
      // flex-wrap: wrap;
      padding: 0 200px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      @include to(1280px) {
        padding: 0 160px;
      }
      @include to(1100px) {
        padding: 0 100px;
      }
      @include to(950px) {
        padding: 0 22px;
      }

      @include to(675px) {
        width: 100%;
        padding: 0 22px;
        justify-content: space-between;
      }

      .form-field-input {
        // width: calc((100% / 2) - 16px);
        // &:nth-child(1),
        // &:nth-child(3) {
        //   margin-right: 16px;
        // }
        width: 90%;
      }
      .input-name {
        @include to(575px) {
          width: 100%;
        }
      }
      .mob-in {
        @include to(575px) {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }
    .contact-form-field {
      @include to(575px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
    .realty {
      @include to(575px) {
        width: 65%;
      }
    }
  }
}
.swiper-calculator {
  width: 100%;
  @include to(575px) {
    height: 250px;
  }
}
.swiper-btn-container {
  display: flex;
}
.swiper-button-prev13,
.swiper-button-next13 {
  cursor: pointer;
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  padding: 23px 0px;
  width: 216px;
  display: flex;
  justify-content: center;
  border-radius: 44px;
  transition: background 0.2s ease;
  @include to(575px) {
    width: 190px;
    font-size: 14px;
    padding: 15px 19px;
  }
  &:hover {
    @include from(992px) {
      background: $yellow;
    }
  }
  svg {
    width: 17px;
    height: 17px;
    stroke-width: 2px;
  }
}
.swiper-button-prev13 {
  margin-right: 16px;
  @include to(575px) {
    width: 150px;
    text-align: left;
  }
  svg {
    margin-right: 8px;
  }
}
.swiper-button-next13 {
  svg {
    margin-left: 8px;
  }
}
.swiper-scrollbar13 {
  margin: 8vh 0 60px 0;
  width: 100%;
  margin-right: 24px;
  border-radius: 10px;
  height: 2px;
  position: relative;
  background: #f3f0ef;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.5s ease-in-out;
    height: 100%;
    background-color: #fec62e;
    width: var(--width, 0%);
  }
  @include to(575px) {
    margin: 30px 0 24px 0;
  }
}

.swiper-slide__title-little {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  margin-bottom: 47px;
  @include to(575px) {
    padding: 0 22px;
  }
}
.swiper-slide__title + .swiper-slide__title-little {
  margin-top: -26px;
}
.input-name {
  width: 97%;
  height: 48px;
  background: #f3f0ef;
  border-radius: 100px;
  padding-left: 16px;
  border: none;
  &::placeholder {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
  }
}
.swiper-slide__title-little-black {
  padding: 16px 120px 32px 120px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  @include to(575px) {
    padding: 20px 22px;
  }
}
//
#timer_container > #time {
  margin: 20px;
  color: #fff;
  color: #000000;
  // position: relative;
  // font-family: arial;
  font-size: 24px;
  font-weight: 600;
  // top: 26%;
  // left: 5%;
  text-align: center;
  padding-top: 20px;
}
#timer_container {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  top: 10%;
  left: 0;
  margin: 0 auto;
}
#timer_container > div {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 8px;
  background-color: $yellow;
}

.calc-form {
  .timer-container {
    width: 122px;
    height: 122px;
    position: relative;
    margin-bottom: 20px;
  }
}
