#commerce {
  .infrastructure-benefits__item {
    padding-bottom: 30px;
  }
  .busha-text {
    .our-projects__title {
      margin-bottom: 0;
    }
  }
}
.planing {
  background: #f3f0ef;
  padding: 48px vw(100, 1920) 70px;
  display: flex;
  flex-direction: column;
  .planing__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    .tab {
      .tablinks {
        background: $white;
      }
      .active {
        background: #fec62e;
      }
    }
  }
  .select {
    display: block;
    width: 385px;
    position: relative;
  }
  .new-select {
    position: relative;
    border: none;
    background: $white;
    border-radius: 100px;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    height: 48px;
    padding: 14px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    transition: border 0.4s ease;
  }

  .new-select.on {
    border: 2px solid #fec62e;
  }
  .new-select__list {
    position: absolute;
    top: 56px;
    left: 0;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    user-select: none;
  }
  .new-select__list.on {
    display: block;
  }
  .new-select__item span {
    display: block;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
  }
  .new-select__item span:hover {
    background: #f3f0ef;
    border-radius: 11px;
  }

  .new-select:after {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    position: absolute;
    right: 16px;
    top: 20px;
    background: url('../images/arrow-select.svg') no-repeat right center / contain;
    // opacity: 0.6;
    -webkit-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;
    transition: all 0.27s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
// .planing__list {
//   margin-top: 48px;
// }
.planing__item {
  padding: 32px;
  background: #ffffff;
  border: 1px solid #f3f0ef;
  width: calc(100% / 3);
  margin: 0;
  &:hover {
    @include from(992px) {
      transform: scale(1.01);
      box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    }
  }
  .column {
    width: 100%;
    height: 100%;
  }
}
.planing__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
  .planing__img {
    padding-bottom: 37px;
    padding-top: 37px;

    margin-left: auto;
    margin-right: auto;
    img {
      object-fit: contain;
      width: 266px;
      height: 266px;
    }
  }
  .planing__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
    margin-bottom: 28px;
  }
  .square {
    display: flex;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      fill: none;
    }
    &-description {
      display: flex;
      flex-direction: column;
      .title {
        font-weight: 600;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000000;
      }
      .value {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        color: #000000;
      }
    }
  }
  .deadlines {
    display: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
  }
}
.list-title {
  // display: flex;
  display: none;
  padding: 16px 32px;

  background: #ffffff;
  p {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
  }
  .planing__img {
    width: 15%;
  }
  .planing__title {
    width: 40%;
  }
  .square {
    width: 30%;
  }
  .deadlines {
    display: flex;
  }
}
#container .list li {
  width: 100%;
  .planing__link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .planing__img {
    margin: 0;
    padding: 0;
    width: 15%;
    img {
      height: 68px;
      width: auto;
    }
  }
  .planing__title {
    width: 40%;
    span {
      display: none;
    }
  }
  .square {
    width: 30%;
    svg {
      display: none;
    }
    .title {
      display: none;
    }
  }
  .deadlines {
    display: flex;
  }
}
#container .grid li {
  float: left;
  width: calc(100% / 3);
  height: 500px;
}

.show-more {
  font-family: $default-font;
  border: none;
  height: 64px;
  width: 408px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fec62e;
  border-radius: 44px;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  white-space: nowrap;
  svg {
    width: 24px;
    height: 24px;
    fill: none;
    margin-left: 8px;
  }
  span {
    margin: 0 0.5ch;
  }
  margin: 70px auto 0 auto;
}

.planing-filter {
  display: flex;
  flex-direction: column;
  padding: 60px vw(100, 1920) 48px vw(100, 1920);
  .our-projects__title {
    font-size: 32px;
    margin-bottom: 38px;
  }
  .select {
    display: block;
    // --offset: 16px;
    // margin-left: calc((var(--offset) / 2) * -1);
    // margin-right: calc((var(--offset) / 2) * -1);
    // @include customOffsetWidth(34.3, var(--offset));
    position: relative;
  }
  .new-select {
    position: relative;
    border: none;
    background: #ffffff;
    border-radius: 100px;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    height: 56px;
    padding: 14px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    border: 2px solid #f3f0ef;
    transition: border 0.4s ease;
  }

  .new-select.on {
    border: 2px solid #fec62e;
  }
  .new-select__list {
    position: absolute;
    top: 56px;
    left: 0;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    user-select: none;
  }
  .new-select__list.on {
    display: block;
  }
  .new-select__item span {
    display: block;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
  }
  .new-select__item span:hover {
    background: #f3f0ef;
    border-radius: 11px;
  }

  .new-select:after {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    position: absolute;
    right: 16px;
    top: 20px;
    background: url('../images/arrow-select.svg') no-repeat right center / contain;
    // opacity: 0.6;
    -webkit-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;
    transition: all 0.27s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .form-field-confirm {
    margin-top: 70px;
    .realty {
      border: none;
      width: 308px;
      font-family: $default-font;
    }
  }
}
.planing-filter__container {
  display: flex;
  .marker-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 5px;
    color: #000000;
    background: $white;
    top: -8px;
    left: 20px;
    position: absolute;
  }
  .planing-filt__complex {
    width: calc((100% - 64px) / 3);
    margin-right: 32px;
    position: relative;
  }
  .planing-filt__range {
    width: calc((100% - 64px) / 3);
    margin-right: 32px;
    height: 48px;
    // padding: 14px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    border: 2px solid #f3f0ef;
    transition: border 0.4s ease;
    border-radius: 100px;
    position: relative;

    &-container {
      position: absolute;
      width: 90%;
      bottom: 0;
      left: 5%;
      // transform: translateY(-5%);
    }
    .irs--flat .irs-bar {
      top: 2px;
      height: 2px;
      background-color: #fec62e;
    }
    .irs--flat .irs-handle > i:first-child {
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      width: 16px;
      height: 16px;
      margin-left: -4px;
      background-color: #fec62e;
      border-radius: 50%;
    }
    .irs--flat .irs-line {
      top: 2px;
      height: 2px;
      background-color: #e1e4e9;
      width: 90%;
      left: 5%;
      // background-color: #ee0404;
      border-radius: 4px;
    }
    .irs--flat {
      height: 2px;
    }
    .irs--flat .irs-handle {
      top: -6px;
      // bottom: 0;
      width: 16px;
      height: 16px;
      background-color: transparent;
    }
    .irs--flat .irs-to:before {
      display: none;
    }
    .irs--flat .irs-from:before {
      display: none;
    }
    .irs--flat .irs-from,
    .irs--flat .irs-to,
    .irs--flat .irs-single {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      color: #000000;
      font-family: $default-font;
      text-shadow: none;
      padding: 0;
      // background-color: #ed5565;
      background-color: transparent;
      border-radius: 4px;
      top: -35px;
      width: 50%;
      text-align: center;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .irs--flat .irs-from {
      left: 0 !important;
      border-right: 2px solid #f3f0ef;
    }
    .irs--flat .irs-to {
      left: 50% !important;
      right: 0 !important;
    }
    .irs--flat .irs-min {
      visibility: hidden;
    }
    .irs--flat .irs-single:before {
      display: none;
    }
  }
  .planing-filt__deadline {
    width: calc((100% - 64px) / 3);
    position: relative;
  }
}
.planing-filter__close {
  margin-top: 37px;
  position: relative;
  display: flex;
  justify-content: flex-end;

  .result-filter {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.23;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: calc(50% - 140px);
  }
  .reset-filter {
    background: none;
    border: none;
    border-radius: 44px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-right: 100px;
    &:hover {
      @include from(992px) {
        background: rgba(254, 199, 46, 0.5);
      }
    }
    svg {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
  }
}
