#project-realized {
  .section1 {
    width: 62%;
    margin: 84px auto 80px auto;
    .text-container {
      margin: 32px 0 64px 0;
      column-count: 2;
      column-gap: 32px;
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        color: #000000;
        break-inside: avoid;
      }
    }
  }

  .section2 {
    padding: 0 vw(260, 1920) 0 vw(160, 1920);
    display: grid;
    grid-template-columns: 146px 488px 156px 280px;
    grid-template-rows: auto auto 270px 160px auto;
    gap: 0px 0px;
    grid-template-areas:
      '. title . .'
      '. text . little-img'
      'big-img big-img . little-img'
      'big-img big-img . .'
      'list-text list-text . .';
    @include to(1280px) {
      grid-template-columns: 200px 500px 136px 280px;
      grid-template-rows: auto 160px 270px 160px auto;
    }
    .big-img {
      grid-area: big-img;
    }
    .list-text {
      grid-area: list-text;
      ul {
        padding-top: 56px;
        column-count: 2;
        column-gap: 30px;
      }
      li {
        display: flex;
        break-inside: avoid;
        .num {
          font-weight: 600;
          font-size: 10px;
          line-height: 1.2;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #000000;
          margin-right: 20px;
          padding-top: 5px;
        }
        .text {
          font-weight: 600;
          font-size: 16px;
          line-height: 1.25;
          color: #000000;
          margin-bottom: 24px;
          // list-style: decimal-leading-zero;}
        }
      }
    }
    .little-img {
      grid-area: little-img;
    }
    .title {
      grid-area: title;
      margin-bottom: 32px;
    }
    .text {
      grid-area: text;
      margin-bottom: 64px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      color: #000000;
    }
    .padding {
      padding-bottom: 80px;
    }
  }
  .section3 {
    width: 100%;
    padding: 80px vw(160, 1920) 0 vw(160, 1920);
    display: grid;
    // grid-auto-columns: 1fr;
    // grid-template-columns: 72px 210px 104px 136px 104px 486px 104px;
    grid-template-columns: 6% 16.4% 8% 11% 11% 11% 8%;
    grid-template-rows: 1fr max-content max-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
      'little-img little-img . . text text .'
      'little-img little-img . . big-img big-img .'
      '. list-text list-text . big-img big-img .'
      '. list-text list-text . . . .';

    .little-img {
      grid-area: little-img;
    }
    .list-text {
      grid-area: list-text;
      padding-top: 82px;
      li {
        display: flex;
        .num {
          font-weight: 600;
          font-size: 10px;
          line-height: 1.2;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #000000;
          margin-right: 20px;
          padding-top: 5px;
        }
        .text {
          font-weight: 600;
          font-size: 16px;
          line-height: 1.25;
          color: #000000;
          margin-bottom: 24px;
          // list-style: decimal-leading-zero;}
        }
      }
    }
    .text {
      grid-area: text;
      .text-container {
        padding: 32px 0 32px 0;
        p {
          font-weight: 600;
          font-size: 16px;
          line-height: 1.2;
          color: #000000;
          margin-bottom: 32px;
        }
      }
    }
    .big-img {
      grid-area: big-img;
    }
  }
}
