.documents-container {
  padding: calc(var(--header-h) + 40px + var(--header-bottom-h)) vw(160, 1920) 0 vw(160, 1920);
  @include to(1440px) {
    padding: calc(var(--header-h) + 40px + var(--header-bottom-h)) vw(100, 1440) 0 vw(100, 1440);
  }
  @include to(1280px) {
    padding: calc(var(--header-h) + 40px + var(--header-bottom-h)) vw(32, 1280) 0 vw(32, 1280);
  }
  @include to(992px) {
    padding: calc(var(--header-h) + 35px + var(--header-bottom-h)) 22px 0 22px;
  }
  .accordion {
    margin: 56px 0 40px;
    width: 100%;
    height: auto;
    position: initial;
    @include to(992px) {
      margin: 24px 0 32px;
    }
  }
  .accordion-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .tabs__item {
    @include to(992px) {
      display: flex;
      flex-direction: column;
      padding-bottom: 24px;
      border-bottom: 2px solid #dddad9;
      margin-bottom: 24px;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
  .accordion-toggle {
    padding: 38px 48px;
    border: 2px solid #f3f0ef;
    @include to(992px) {
      padding: 16px 38px 16px 16px;
      font-size: 20px;
    }
    &::after {
      right: 40px;
      @include to(992px) {
        right: 16px;
        top: calc(50% - 8px);
        width: 16px;
        height: 16px;
      }
    }
    &::before {
      display: none;
    }
  }
  .is-open .accordion-toggle {
    background: #f3f0ef;
    border: none;
    &::after {
      background-image: url(../images/minus.svg);
    }
  }
  .accordion-panel {
    background: #f3f0ef;
    padding: 0px 48px 48px;
    @include to(992px) {
      padding: 0px 16px 24px;
    }
  }
  .documents-tabcontent__list {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include to(992px) {
      padding-top: 30px;
    }
  }
  .documents-tabcontent__item {
    width: calc((100% - 120px) / 3);
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
    @include to(992px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .documents-tabcontent__link {
    text-decoration: none;
    display: flex;
    width: 100%;
    svg {
      width: 16px;
      height: 18px;
      fill: none;
      margin-right: 16px;
      flex-shrink: 0;
    }
    span {
      width: 95%;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      color: #000000;
      @include to(992px) {
        font-size: 14px;
      }
    }
  }
  .tablinks-title {
    display: none;
    @include to(992px) {
      display: flex;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      color: #000000;
    }
  }
  .tab {
    @include to(992px) {
      // flex-wrap: wrap;
      display: none;
    }
    .tablinks {
      height: 48px;
      background: #ffffff;
      border: 1px solid #f3f0ef;
      @include to(992px) {
        height: 39px;
        width: 100%;
        border-radius: none;
        justify-content: flex-start;
        &:first-child {
          border-radius: 4px;
        }
        &:last-child {
          border-radius: 4px;
        }
      }
    }
    .active {
      background: #fec62e;
    }
  }
}
.rating {
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    &:last-child {
      margin-bottom: 0;
    }
    @include to(992px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      width: 14.5%;
      max-height: 64px;
      @include to(992px) {
        width: auto;
        max-height: 31px;
        height: 31px;
        margin-bottom: 16px;
      }
      img {
        object-fit: contain;
      }
    }
    .link {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 180px;
        background: $white;
        border-radius: 44px;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        color: #000000;
        @include to(992px) {
          height: 40px;
        }
        svg {
          fill: none;
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }
    }
    .text {
      width: 46%;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.21;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #000000;
      @include to(992px) {
        width: 100%;
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
    .text-index {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.21;
      color: #000000;
      text-decoration-line: none;
      text-transform: none;
      @include to(992px) {
        font-size: 14px;
        .mobile-text {
          display: inline-block;
          max-width: 153px;
        }
      }
      .own {
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        color: #fec62e;
        margin-left: 0.4ch;
        @include to(992px) {
          font-size: 40px;
        }
      }
      .total {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        color: #000000;
        margin-left: 1ch;
        @include to(992px) {
          font-size: 14px;
        }
      }
    }
  }
}
