#documents {
  .active-header-menu {
    opacity: 1;
    height: var(--header-h);
    pointer-events: pointed;
  }
}

.documents-container {
  padding: calc(var(--header-h) + 40px) vw(100, 1920) 0 vw(100, 1920);
  .accordion {
    margin: 56px 0 40px;
    width: 100%;
    height: auto;
    position: initial;
  }
  .accordion-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .accordion-toggle {
    padding: 38px 48px;
    border: 2px solid #f3f0ef;
    &::after {
      right: 40px;
    }
    &::before {
      display: none;
    }
  }
  .is-open .accordion-toggle {
    background: #f3f0ef;
    border: none;
  }
  .accordion-panel {
    background: #f3f0ef;
    padding: 0px 48px 48px;
  }
  .documents-tabcontent__list {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
  }
  .documents-tabcontent__item {
    width: calc((100% - 120px) / 3);
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
  .documents-tabcontent__link {
    text-decoration: none;
    display: flex;
    svg {
      width: 16px;
      height: 18px;
      fill: none;
      margin-right: 16px;
    }
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      color: #000000;
    }
  }
}
