#filling {
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.23;
    color: #000000;
    margin-top: 56px;
    @include to(992px) {
      margin-top: 40px;
    }
  }
  .filling-title {
    margin-top: 80px;
    @include to(992px) {
      margin-top: 48px;
    }
  }
}
.characteristics {
  margin-top: 48px;
  padding-bottom: 80px;
  border-bottom: 2px solid #000000;
  column-count: 3;
  column-gap: 130px;
  @include to(992px) {
    margin-top: 40px;
    column-count: 2;
    column-gap: 25px;
    padding-bottom: 0;
  }
  &__item {
    break-inside: avoid;
    display: flex;
    margin-bottom: 45px;
    @include to(992px) {
      flex-direction: column;
      margin-bottom: 24px;
      min-height: 108px;
    }
    svg {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      fill: none;
      @include to(992px) {
        margin-bottom: 8px;
      }
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 600;
      font-size: 10px;
      line-height: 1.2;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 4px;
    }
    .text {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      color: #000000;
      max-width: 220px;
      @include to(992px) {
        font-size: 16px;
      }
    }
  }
}

.filling-apartments {
  border-bottom: none;
  max-height: 250px;
  .text {
    max-width: 311px;
  }
}
