.infrastructure-container {
  padding: 40px vw(160, 1920) 0 vw(160, 1920);
  @include to(1440px) {
    padding: 40px vw(100, 1440) 0 vw(100, 1440);
  }
  @include to(1280px) {
    padding: 40px vw(32, 1280) 0 vw(32, 1280);
  }
  @include to(992px) {
    padding: 16px 22px 0 22px;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    @include to(992px) {
      padding-top: 32px;
      flex-direction: column;
    }
    .text-small {
      width: 47%;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.21;
      color: #000000;
      @include to(992px) {
        width: 100%;
        font-size: 20px;
        padding-bottom: 32px;
      }
    }
    .text-big {
      width: 48%;
      border-left: 2px solid #fec62e;
      padding-left: 16px;
      font-weight: 600;
      font-size: 32px;
      line-height: 1.22;
      color: #000000;
      @include to(992px) {
        width: 100%;
        font-size: 24px;
      }
    }
  }
}

#infrastructure {
  .description__container {
    padding: 157px 0 126px vw(160, 1920);
    @include to(1440px) {
      padding: 157px 0 126px vw(100, 1440);
    }
    @include to(1280px) {
      padding: 157px 0 126px vw(32, 1280);
    }
    @include to(992px) {
      padding: 30px 0 48px 22px;
    }
  }
  .description__text-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    @include to(992px) {
      margin-bottom: 32px;
    }
    &:last-child {
      margin-bottom: 0;
      @include to(992px) {
        margin-bottom: 32px;
      }
    }
    .num {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.71;
      color: #000000;
      margin-bottom: 16px;
      @include to(992px) {
        font-size: 12px;
      }
    }
    .text {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.21;
      color: #000000;
      @include to(992px) {
        font-size: 20px;
      }
    }
  }
  .page__inner {
    overflow: initial;
  }
}
.infrastructure-mall {
  background: #f3f0ef;
  padding: 50px vw(160, 1920) 10px vw(160, 1920);
  @include to(1440px) {
    padding: 50px vw(100, 1440) 10px vw(100, 1440);
  }
  @include to(1280px) {
    padding: 50px vw(32, 1280) 10px vw(32, 1280);
  }
  @include to(992px) {
    padding: 16px 22px 10px 22px;
  }
  &__list {
    columns: 6;
    column-gap: 30px;
    @include to(992px) {
      columns: 3;
      column-gap: 30px;
    }
  }
  &__item {
    margin-bottom: 45px;
    width: 176px;
    height: 100px;
    padding: 30px 0;
    @include to(992px) {
      margin-bottom: 0;
      width: 85px;
      height: 50px;
      padding: 14px 10px;
    }
    img {
      object-fit: contain;
      max-width: 140px;
      max-height: 80px;
      filter: grayscale(1);
      transition: filter 0.2s ease;
      &:hover {
        filter: none;
      }
      @include to(992px) {
        max-width: 60px;
        max-height: 23px;
      }
    }
  }
}
.infrastructure-benefits {
  display: flex;
  @include to(992px) {
    flex-direction: column;
  }
  &__img {
    width: 46%;
    height: 600px;
    position: sticky;
    top: 0;
    @include to(992px) {
      width: 100%;
      position: initial;
      height: 288px;
    }
  }
  &__list {
    width: 54%;
    display: flex;
    flex-wrap: wrap;
    @include to(992px) {
      width: 100%;
      flex-direction: column;
    }
  }
  &__item {
    width: 50%;
    border: 1px solid #f3f0ef;
    padding: 35px 60px 50px 32px;
    display: flex;
    flex-direction: column;
    @include to(992px) {
      width: 100%;
      padding: 24px 22px;
    }
    .num {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #fec62e;
      margin-bottom: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.71;
      color: #000000;
      @include to(992px) {
        margin-bottom: 16px;
      }
    }
    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 1.23;
      color: #000000;
      margin-bottom: 16px;
    }
    .text {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      color: #000000;
    }
  }
}
//

.infrastructure-mall__item:nth-child(odd) {
  animation: littleMove var(--moveDuration) linear infinite;
}

.infrastructure-mall__item:nth-child(even) {
  animation: littleMoveR var(--moveDuration) linear infinite;
}

.partners__wrapper {
  --moveDuration: 10s;
}
@keyframes littleMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes littleMoveR {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

#infrastructure {
  .description__container {
    align-items: flex-start;
  }
  .navigation-container {
    width: 34%;
    @include to(992px) {
      width: 100%;
    }
  }
}

.map-wrapper__nav-mob-opener {
  display: none;
  @include to(992px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 30px;
    padding-right: 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    // letter-spacing: -0.03em;
    // text-transform: uppercase;
    background: #f3f0ef;
    &::after {
      content: '';
      display: inline-block;
      background-image: url('../images/arrow-select.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 10px;
      height: 7px;
      transform-origin: center;
      transition: transform 0.5s ease-in-out;
    }
  }
}
.map-wrapper__nav.closed .map-wrapper__nav-mob-opener::after {
  transform: rotate(-180deg);
}
