#project {
  .header {
    background: $white;
  }
  .nav__tel-link {
    color: $black;
  }
  .realty__link svg {
    stroke: $black;
  }
  .menu__img {
    fill: $black;
  }
  .menu__text {
    color: $black;
  }
  .logo__link svg {
    .logo-fill {
      fill: $black;
    }
  }
  .logo-group svg {
    fill: $black;
  }
}
