.single-news {
  padding: 40px vw(160, 1920) 80px;
  display: flex;
  flex-direction: column;
  @include to(1440px) {
    padding: 40px vw(100, 1440) 80px;
  }
  @include to(1280px) {
    padding: 40px vw(32, 1280) 80px;
  }
  @include to(575px) {
    padding: 16px 22px 32px;
  }
}
.single-news__title {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  @include to(575px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 24px;
  }
}
.date-promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(15deg);
  margin-right: 12px;
  @include to(575px) {
    flex-shrink: 0;
    width: 76px;
    height: 76px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/star.svg') no-repeat right center / contain;
    z-index: -1;
  }
  .text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    color: #000000;
  }
  .date {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    color: #000000;
  }
  .month {
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    color: #000000;
  }
}
.promotion-title {
  .markers-item {
    background: #f3f0ef;
    width: max-content;
    margin-top: 24px;
    @include to(575px) {
      margin-top: 16px;
    }
  }
}
.single-news__content {
  display: flex;
  justify-content: space-between;
  @include to(575px) {
    position: relative;
  }
}
.single-news__main {
  width: 63%;
  display: flex;
  flex-direction: column;
  @include to(575px) {
    width: 100%;
  }
  .single-news__img {
    margin-bottom: 32px;
    @include to(575px) {
      height: 240px;
      margin-bottom: 157px;
    }
  }
  h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.23;
    color: #000000;
    @include to(575px) {
      font-size: 18px;
    }
  }
  .proposal {
    margin: 40px 0;
    padding: 37px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fec62e;
    border-radius: 8px;
    @include to(575px) {
      margin: 24px 0 40px 0;
      padding: 24px 0;
    }
    h3 {
      font-weight: 600;
      font-size: 32px;
      line-height: 1.22;
      color: #000000;
      @include to(575px) {
        font-size: 20px;
      }
    }
    &::before {
      content: '';
      display: inline-block;
      width: 27px;
      height: 33px;
      margin-right: 10px;
      background: url('../images/fire.png') no-repeat right center / contain;
    }
    &::after {
      content: '';
      display: inline-block;
      width: 27px;
      height: 33px;
      margin-left: 10px;
      background: url('../images/fire.png') no-repeat right center / contain;
    }
  }
}
.proposal-list {
  display: flex;
  flex-direction: column;
  .proposal-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    @include to(575px) {
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      color: #000000;
      margin-bottom: 8px;
      @include to(575px) {
        font-size: 14px;
      }
    }
    .description {
      font-weight: 600;
      font-size: 22px;
      line-height: 1.25;
      color: #000000;
      @include to(575px) {
        font-size: 18px;
      }
    }
  }
}
.single-news__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 38px;
  border: 2px solid #fec62e;
  border-radius: 4px;
  margin-top: 80px;
  @include to(575px) {
    margin-top: 48px;
    flex-direction: column;
    padding: 24px 19px;
  }
  h5 {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.23;
    color: #000000;
    @include to(575px) {
      font-size: 20px;
      text-align: center;
      margin-bottom: 16px;
    }
  }
  .social-list {
    display: flex;
  }
  .social-item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    svg {
      width: 48px;
      height: 48px;
    }
  }
}
.single-news__timer {
  width: 30%;
  @include to(1440px) {
    width: 35%;
  }
  @include to(575px) {
    width: 100%;
    position: absolute;
    left: 0;
    top: 256px;
  }

  .timer-container {
    padding: 46px 40px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fec62e;
    border-radius: 4px;
    @include to(575px) {
      padding: 16px 18px;
    }
  }
  .timer {
    width: 44px;
    height: auto;
    @include to(575px) {
      width: 28px;
    }
  }
  p {
    margin-top: 13px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    @include to(575px) {
      font-size: 10px;
      margin-top: 8px;
    }
  }
  .countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    @include to(575px) {
      margin-top: 8px;
    }
    .countdown-number {
      display: flex;
      font-weight: 600;
      font-size: 32px;
      line-height: 1.22;
      color: #ff7a00;
      margin-right: 8px;
      @include to(575px) {
        font-size: min(vw(20, 375), 18px);
      }
      span {
        margin-right: 0.5ch;
      }
    }
  }
}
