.single-news__main {
  .our-projects__title {
    margin-bottom: 30px;
    @include to(992px) {
      margin-bottom: 16px;
    }
  }
  .date {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 40px;
    @include to(992px) {
      margin-bottom: 32px;
    }
  }
}
.single-news__big {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.23;
  color: #000000;
  margin-bottom: 30px;
  @include to(992px) {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
.single-news__small {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 30px;
  @include to(992px) {
    font-size: 15px;
    margin-bottom: 32px;
  }
}
.single-news__video {
  height: 450px;
  margin-bottom: 30px;
  @include to(992px) {
    height: 240px;
    margin-bottom: 32px;
  }
}
.single-news-swiper {
  overflow: hidden;
  position: relative;
  .swiper-navigation2 {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -20px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    padding: 7px 13px;
    display: flex;
    align-items: center;
    z-index: 20;
  }
  .swiper-pagination2 {
    margin: 0 20px;
    display: flex;
    align-items: center;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    opacity: 1;
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.5;
    border-radius: 50%;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .swiper-button-next2::before {
    content: '';
    display: inline-block;
    background-image: url('../images/project-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    transform-origin: center;
    transform: rotate(180deg);
  }
  .swiper-button-prev2::before {
    content: '';
    display: inline-block;
    background-image: url('../images/project-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    transform-origin: center;
  }
  .swiper-slide {
    height: 450px;
    @include to(992px) {
      height: 240px;
    }
    img {
      object-fit: fill;
    }
  }
}
.single-news__timer {
  .timer-container {
    .single-news__social {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      border: 0;
      justify-content: center;
      align-items: center;
      h5 {
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }
}
#news-page-single {
  @include to(992px) {
    .single-news__main .single-news__img {
      height: 240px;
      margin-bottom: 24px;
    }
    .single-news__timer {
      display: none;
    }
  }
}
