.frame-class {
  width: 100%;
  height: 100%;
  border: none;
}
.markers-container {
  display: flex;
  margin-bottom: 60px;
  @include to(992px) {
    margin-bottom: 32px;
  }
  .views {
    padding: 6px 11px;
    border: 2px solid #fec62e;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-right: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    .numbers {
      margin-right: 0.5ch;
    }
  }
  .checkbox {
    padding: 6px 8px;
    background: #f3f0ef;
    border-radius: 100px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-right: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#single-flats {
  .description-list {
    margin-bottom: 100px;
    @include to(992px) {
      margin-bottom: 85px;
    }
  }
  .description-list ~ .price-container {
    margin-top: -50px;
  }
  .btn-container {
    gap: 9px;
    a {
      width: 33%;
      @include to(992px) {
        width: 50%;
      }
    }
  }
  .single-commerce-container__description {
    padding-top: 40px;
    padding-bottom: 0;
  }
  .single-commerce-container__title-complex {
    margin-bottom: 55px;
  }
  .single-commerce-container__description .btn-container {
    margin-bottom: 55px;

    @include to(992px) {
      padding-bottom: 48px;
      border-bottom: 2px solid #000000;
      margin-bottom: 0;
    }
  }
  .specification__container {
    padding: 40px 0 36px 0;
    border-bottom: none;
  }
  .specification {
    border-bottom: 1px solid #f3f0ef;
  }
  .similar-apartment {
    .swiper-btn {
      display: flex;
      justify-content: center;
      svg {
        width: 44px;
        height: 44px;
        stroke: white;
        fill: black;
        cursor: pointer;
        transition: fill 0.4s ease;
        &:hover {
          @include from(992px) {
            fill: $yellow;
          }
        }
      }
      .swiper-button-prev2 {
        margin-right: 16px;
      }
    }
    .title-container {
      display: flex;
      justify-content: space-between;
    }
  }
  .price-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    .old-price {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
      .total-price {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.04em;
        text-decoration-line: line-through;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        margin-right: 14px;
        opacity: 0.5;
      }
      .discount {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.04em;
        background: #fec62e;
        border-radius: 2px;
        padding: 4px 3px;
      }
    }
    .new-price {
      font-weight: 600;
      font-size: 32px;
      line-height: 1.2;
      color: #000000;
    }
  }
}
.add-favourite {
  width: 30%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f3f0ef;
  border-radius: 44px;
  cursor: pointer;
  @include to(992px) {
    width: 48px;
    height: 48px;
    background: $white;
    position: absolute;
    right: 56px;
    top: -422px;
    transform: translate(0, -51%);
  }
  svg {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: $black;
    cursor: pointer;

    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  input {
    display: none;
    // width: 16px;
    // height: 16px;
  }
  .favourite-label {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include to(992px) {
      margin-top: -7px;
    }
  }
  input:checked + svg {
    fill: $yellow;
    stroke: $yellow;
  }
  .checkbox-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    margin-left: 10px;
    @include to(992px) {
      display: none;
    }
  }
}
.conditions-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 70px;
  @include to(992px) {
    flex-direction: column;
    padding: 24px 0 32px;
  }
  .conditions-item {
    width: 48%;
    border: 2px solid #f3f0ef;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    @include to(992px) {
      width: 100%;
      padding: 8px 8px 24px 24px;
      position: relative;
      &:first-child {
        margin-bottom: 16px;
      }
    }
    .text-container {
      width: 41%;
      @include to(992px) {
        width: 60%;
      }
      h4 {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.2;
        color: #000000;
        margin-bottom: 16px;
        @include to(992px) {
          font-size: 24px;
        }
      }
      .little-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        color: #000000;
        margin-bottom: 60px;
        @include to(992px) {
          font-size: 16px;
          margin-bottom: 40px;
          width: 150px;
        }
      }
      .conditions-big-text {
        font-weight: 600;
        font-size: 105px;
        font-size: 9.5vw;
        line-height: 1.2;
        color: #000000;
        display: flex;
        @include to(992px) {
          font-size: 72px;
        }
        span {
          font-weight: 600;
          font-size: 40px;
          line-height: 1.2;
          color: #000000;
          margin: 0 0.2ch;
        }
      }
      .conditions-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        color: #000000;
        white-space: nowrap;
        .month {
          font-weight: 600;
          font-size: 105px;
          font-size: 9.5vw;
          line-height: 1.2;
          color: #000000;
          margin: 15px 0.5ch;
          @include to(992px) {
            font-size: 72px;
            margin: 15px 0.3ch;
          }
        }
      }
    }
    .accent {
      width: 39%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      @include to(992px) {
        width: 140px;
        height: 140px;
        position: absolute;
        right: 8px;
        top: 8px;
      }

      p {
        font-weight: 600;
        font-size: 22px;
        line-height: 1;
        text-align: center;
        color: #000000;
        margin-bottom: 6px;
        @include to(992px) {
          font-size: 14px;
        }
        &:first-child {
          padding-top: 15px;
        }
      }
      .percents {
        font-weight: 600;
        font-size: 52px;
        line-height: 1;
        text-align: center;
        color: #000000;
        @include to(992px) {
          font-size: 35px;
        }
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/star.svg') no-repeat right center / contain;
        z-index: -1;
      }
    }
  }
}
#single-flats {
  @include to(992px) {
    .commerce-swiper {
      padding-top: 50px;
      // .swiper-button-next,
      // .swiper-button-prev {
      //   top: 41%;
      // }
    }
    .single-commerce-container__title {
      order: -1;
      margin-bottom: 16px;
    }
    .markers-container .views {
      position: absolute;
      top: -455px;
      left: 50%;
      transform: translate(-50%, 70%);
      margin-right: 0;
    }
    .single-commerce-container__title-complex {
      margin-bottom: 32px;
    }
    .swiper-slide .btn-compass {
      right: auto;
      left: 0;
      top: -17%;
    }
    .planing__link .price {
      display: none;
    }
    .planing__link .favorite-star .add-favourite {
      display: none;
    }
  }
}
