.sideform.js-sideform-call
  .form-close.js-close
    +svg('close-select')
  .form
    .form-content__title 
      h1 Потрібна консультація?
      h2 Тоді просто залиште свої дані, і наші менеджери дадуть відповіді на всі Ваші питання.
    form(action="#" class="feedback-form" data-popup-form)
      .form-field
        .form-field-input(data-field-input data-field-name data-status="field--inactive")
          input(class="input-sideform form-name form-field__input contact-form-input" type="text" name="name" id="callback-form-name" placeholder="Ваше ім’я" autocomplete="on" value="")
          .input-message(data-input-message)
        .form-field-input(data-field-input data-field-phone data-status="field--inactive")
          input(class="input-sideform form-tel form-field__input contact-form-input js-input-form" type="text" id="callback-form-phone"  autocomplete="on" name="phone" inputmode="tel")
          //- span.placeholder-form.js-placeholder-form Номер
          .input-message(data-input-message)
        
        .form-field-confirm
          button(class="btn-submite realty callback__btn" type="submit" data-btn-submit="data-btn-submit") 
            span(data-btn-submit-text="") Надіслати
            +svg('arrow')

            
  

.form-gratitude.js-form-gratitude
  .form-close.js-close
    +svg('close-select')
  .form
    .gratitude-form-content
      .gratitude-timer(data-gratitude-timer)
        <svg width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="65" cy="65" r="60" stroke="#FEC62E" stroke-width="4"/>
          </svg>
        .gratitude-timer__time
          span(data-gratitude-timer-minutes) 00
          span :
          span(data-gratitude-timer-seconds) 45
      h1 Вже не дочекаємось, коли вас почуємо!
      h2 Протягом однієї хвилини на Ваш мобільний прийде повідомлення. Щоб ми Вас зайвий раз не турбували, — оберіть в цьому повідомленні зручний для себе день та час, коли Вам буде зручно розмовляти з нашим менеджером.


.form-sing-up
  section.sing-up-review
    .sing-up-review__form
      h2.our-projects__title Запишіться на перегляд
      h4 З радістю влаштуємо вам тур по житловому кварталу та пригостимо смачною кавою!
      form( action="#" class="review-form")
        .form-field
          .form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(class="input-review form-name form-field__input contact-form-input" type="text" placeholder=" " name="name" id="callback-form-name"  autocomplete="on" value="")
            span.placeholder Ваше ім’я
            .input-message(data-input-message)
          .form-field-input(data-field-input data-field-phone data-status="field--inactive")
            input(class="input-review form-tel form-field__input contact-form-input js-input-form" type="text" placeholder=" " id="callback-form-phone"  autocomplete="on" name="phone" inputmode="tel")
            span.placeholder Ваш номер телефону
            .input-message(data-input-message)
        .form-field-time
          .form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(class="input-date form-name form-field__input contact-form-input" type="date" name="#" id="#" placeholder="Зручний день" autocomplete="on" value="")
            span.checkmark Зручний день
          .form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(class="input-date form-name form-field__input contact-form-input" type="time" name="#" id="#" placeholder="Зручний час" autocomplete="on" value="")
            span.checkmark Зручний час
          select(class="select" name="connection")
            option(disabled) Пріоритетний зв’язок
            option(value="tel") По телефону
            option(value="viber") Написати в Viber
            option(value="telegram") Написати в Telegram
        .form-field-confirm
          button(class="realty" type="submit" data-btn-submit="data-btn-submit") 
            span Записатися на перегляд
            +svg('arrow')
    .sing-up-review__manager 
      .manager-img 
        img(src="./assets/images/manager.jpg", alt="manager")
      .manager-name Вікторія Шевченко
      .manager-role Керівниця відділу продажів

    //- .sing-up-review__congrats.appearance-gratitude
      +svg('logo-congrats')
      h2 Дякуємо за запис на перегляд!
      h3 Ви записані на вівторок, 20 вересня



.sign-up-email.js-sideform-call
  .form-close.js-close
    +svg('close-select')
  .form
    .form-content__title 
      h1 Підпишіться на нашу розсилку
      h2 Читайте останні новини та не пропустіть анонс початку продажу нашого нового проекту Continent Black!
    form(action="#" class="feedback-form" data-popup-form)
      .form-field
        .form-field-input(data-field-input data-field-name data-status="field--inactive")
          input(class="input-sideform form-name form-field__input contact-form-input" type="text" name="name" id="callback-form-name" placeholder="Ваше ім’я" autocomplete="on" value="")
          .input-message(data-input-message)
        .form-field-input(data-field-input data-field-phone data-status="field--inactive")
          input(class="input-sideform form-tel form-field__input contact-form-input js-input-form" type="text" id="callback-form-phone"  autocomplete="on" name="phone" inputmode="tel")
          //- span.placeholder-form.js-placeholder-form Номер
          .input-message(data-input-message)
        
      .form-field-confirm
        button(class="btn-submite realty callback__btn" type="submit" data-btn-submit="data-btn-submit") 
          span(data-btn-submit-text="") Підписатись
          +svg('arrow')
  .social-container 
    h4 Наші соцмережі!
    ul.social-list 
      li.social-item 
        a(href="https://www.facebook.com/continent.ua/" target="_blank")
          +svg('facebook-color')
      li.social-item 
        a(href="#" target="_blank")
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24" r="24" fill="url(#paint0_radial_1055_20486)"/>
            <path d="M24.0029 17.3339C20.3139 17.3339 17.3383 20.3102 17.3383 24C17.3383 27.6898 20.3139 30.6661 24.0029 30.6661C27.6919 30.6661 30.6675 27.6898 30.6675 24C30.6675 20.3102 27.6919 17.3339 24.0029 17.3339ZM24.0029 28.3338C21.619 28.3338 19.67 26.3903 19.67 24C19.67 21.6097 21.6132 19.6662 24.0029 19.6662C26.3926 19.6662 28.3358 21.6097 28.3358 24C28.3358 26.3903 26.3868 28.3338 24.0029 28.3338ZM32.4946 17.0613C32.4946 17.9257 31.7986 18.6161 30.9401 18.6161C30.0759 18.6161 29.3856 17.9199 29.3856 17.0613C29.3856 16.2026 30.0817 15.5064 30.9401 15.5064C31.7986 15.5064 32.4946 16.2026 32.4946 17.0613ZM36.9086 18.6393C36.81 16.5565 36.3344 14.7116 34.8089 13.1916C33.2892 11.6715 31.4447 11.1958 29.3624 11.0914C27.2163 10.9695 20.7837 10.9695 18.6376 11.0914C16.5611 11.19 14.7166 11.6657 13.1911 13.1858C11.6656 14.7058 11.1958 16.5507 11.0914 18.6335C10.9695 20.7801 10.9695 27.2141 11.0914 29.3607C11.19 31.4435 11.6656 33.2884 13.1911 34.8084C14.7166 36.3285 16.5553 36.8042 18.6376 36.9086C20.7837 37.0305 27.2163 37.0305 29.3624 36.9086C31.4447 36.81 33.2892 36.3343 34.8089 34.8084C36.3286 33.2884 36.8042 31.4435 36.9086 29.3607C37.0305 27.2141 37.0305 20.7859 36.9086 18.6393ZM34.1361 31.664C33.6837 32.8011 32.8078 33.6771 31.6651 34.1354C29.954 34.8142 25.8938 34.6576 24.0029 34.6576C22.112 34.6576 18.046 34.8084 16.3407 34.1354C15.2038 33.6829 14.3279 32.8069 13.8697 31.664C13.1911 29.9525 13.3477 25.8913 13.3477 24C13.3477 22.1087 13.1969 18.0417 13.8697 16.336C14.3221 15.1989 15.198 14.3229 16.3407 13.8646C18.0518 13.1858 22.112 13.3424 24.0029 13.3424C25.8938 13.3424 29.9598 13.1916 31.6651 13.8646C32.802 14.3171 33.6779 15.1931 34.1361 16.336C34.8147 18.0475 34.6581 22.1087 34.6581 24C34.6581 25.8913 34.8147 29.9583 34.1361 31.664Z" fill="white"/>
            <defs>
            <radialGradient id="paint0_radial_1055_20486" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11.5 41.5) rotate(-52.9975) scale(43.2001)">
            <stop stop-color="#FFAE22"/>
            <stop offset="0.494792" stop-color="#D73376"/>
            <stop offset="1" stop-color="#9F3DB6"/>
            </radialGradient>
            </defs>
          </svg>
      li.social-item 
        a(href="https://t.me/joinchat/AAAAAFW8NgjZAunQdxwMcg" target="_blank")
          +svg('telegram')
      li.social-item 
        a(href="https://t.me/joinchat/AAAAAFW8NgjZAunQdxwMcg" target="_blank")
          +svg('youtube-color')
      li.social-item 
        a(href="#" target="_blank")
          +svg('tiktok-color') 

//- .sign-up-email.js-form-gratitude
  .form-close.js-close
    +svg('close-select')
  .form
    .gratitude-form-content
      h1 Дякуємо!
      h2 Ви успішно підписались на нашу розсилку. Обіцяємо не докучати і надсилати тільки цікаву та важливу інформацію.
      .form-field-confirm 
        a(href="#").realty
          span На головну
          +svg('arrow')
  .social-container 
    h4 Наші соцмережі!
    ul.social-list 
      li.social-item 
        a(href="https://www.facebook.com/continent.ua/" target="_blank")
          +svg('facebook-color')
      li.social-item 
        a(href="#" target="_blank")
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24" r="24" fill="url(#paint0_radial_1055_20486)"/>
            <path d="M24.0029 17.3339C20.3139 17.3339 17.3383 20.3102 17.3383 24C17.3383 27.6898 20.3139 30.6661 24.0029 30.6661C27.6919 30.6661 30.6675 27.6898 30.6675 24C30.6675 20.3102 27.6919 17.3339 24.0029 17.3339ZM24.0029 28.3338C21.619 28.3338 19.67 26.3903 19.67 24C19.67 21.6097 21.6132 19.6662 24.0029 19.6662C26.3926 19.6662 28.3358 21.6097 28.3358 24C28.3358 26.3903 26.3868 28.3338 24.0029 28.3338ZM32.4946 17.0613C32.4946 17.9257 31.7986 18.6161 30.9401 18.6161C30.0759 18.6161 29.3856 17.9199 29.3856 17.0613C29.3856 16.2026 30.0817 15.5064 30.9401 15.5064C31.7986 15.5064 32.4946 16.2026 32.4946 17.0613ZM36.9086 18.6393C36.81 16.5565 36.3344 14.7116 34.8089 13.1916C33.2892 11.6715 31.4447 11.1958 29.3624 11.0914C27.2163 10.9695 20.7837 10.9695 18.6376 11.0914C16.5611 11.19 14.7166 11.6657 13.1911 13.1858C11.6656 14.7058 11.1958 16.5507 11.0914 18.6335C10.9695 20.7801 10.9695 27.2141 11.0914 29.3607C11.19 31.4435 11.6656 33.2884 13.1911 34.8084C14.7166 36.3285 16.5553 36.8042 18.6376 36.9086C20.7837 37.0305 27.2163 37.0305 29.3624 36.9086C31.4447 36.81 33.2892 36.3343 34.8089 34.8084C36.3286 33.2884 36.8042 31.4435 36.9086 29.3607C37.0305 27.2141 37.0305 20.7859 36.9086 18.6393ZM34.1361 31.664C33.6837 32.8011 32.8078 33.6771 31.6651 34.1354C29.954 34.8142 25.8938 34.6576 24.0029 34.6576C22.112 34.6576 18.046 34.8084 16.3407 34.1354C15.2038 33.6829 14.3279 32.8069 13.8697 31.664C13.1911 29.9525 13.3477 25.8913 13.3477 24C13.3477 22.1087 13.1969 18.0417 13.8697 16.336C14.3221 15.1989 15.198 14.3229 16.3407 13.8646C18.0518 13.1858 22.112 13.3424 24.0029 13.3424C25.8938 13.3424 29.9598 13.1916 31.6651 13.8646C32.802 14.3171 33.6779 15.1931 34.1361 16.336C34.8147 18.0475 34.6581 22.1087 34.6581 24C34.6581 25.8913 34.8147 29.9583 34.1361 31.664Z" fill="white"/>
            <defs>
            <radialGradient id="paint0_radial_1055_20486" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11.5 41.5) rotate(-52.9975) scale(43.2001)">
            <stop stop-color="#FFAE22"/>
            <stop offset="0.494792" stop-color="#D73376"/>
            <stop offset="1" stop-color="#9F3DB6"/>
            </radialGradient>
            </defs>
          </svg>
      li.social-item 
        a(href="https://t.me/joinchat/AAAAAFW8NgjZAunQdxwMcg" target="_blank")
          +svg('telegram')
      li.social-item 
        a(href="https://t.me/joinchat/AAAAAFW8NgjZAunQdxwMcg" target="_blank")
          +svg('youtube-color')
      li.social-item 
        a(href="#" target="_blank")
          +svg('tiktok-color') 

.form-header-call.js-call-mobile
  ul
    li
      a(href='tel:+380503694892') 050 369-48-92
    li 
       a(href='tel:+380676938069') 067 693-80-69
    li 
      button.js-mobile-form Замовити дзвінок 
    li.cancel.js-mobile-close Скасувати