.sideform.js-sideform-call
  .form-close.js-close
    +svg('close-select')
  .form
    .form-content__title 
      h1 Потрібна консультація?
      h2 Тоді просто залиште свої дані, і наші менеджери дадуть відповіді на всі Ваші питання.
    form(action="#" class="feedback-form" data-popup-form)
      .form-field
        .form-field-input(data-field-input data-field-name data-status="field--inactive")
          input(class="input-sideform form-name form-field__input contact-form-input" type="text" name="name" id="callback-form-name" placeholder="Ваше ім’я" autocomplete="on" value="")
          .input-message(data-input-message)
        .form-field-input(data-field-input data-field-phone data-status="field--inactive")
          input(class="input-sideform form-tel form-field__input contact-form-input js-input-form" type="text" id="callback-form-phone"  autocomplete="on" name="phone" inputmode="tel")
          //- span.placeholder-form.js-placeholder-form Номер
          .input-message(data-input-message)
        
        .form-field-confirm
          button(class="btn-submite realty callback__btn" type="submit" data-btn-submit="data-btn-submit") 
            span(data-btn-submit-text="") Надіслати
            +svg('arrow')

            
  


//- .form-gratitude.js-form-gratitude(style="display: none;")
//-   .form
//-     .form-container__btn 
//-       .form-close.js-close
//-         +svg('close')
//-     .form-content 
//-       .form-content__title 
//-         h1 Заявка прийнята. Дякуємо за звернення!
//-       p.form-gratitude__text Очікуйте на дзвінок з відділу продажів PARKLAND. Бажаємо гарного дня =)
//-       .container-404__btn
//-         .btn-404
//-           a(href='#').btn-404__link
//-             span.btn-404__text Повернутись назад
//-         .btn-404
//-           a(href='index.html').btn-404__link
//-             span.btn-404__text на головну
          
    





.form-header-call.js-call-mobile
  ul
    li
      a(href='tel:+380503694892') 050 369-48-92
    li 
       a(href='tel:+380676938069') 067 693-80-69
    li 
      button.js-mobile-form Замовити дзвінок 
    li.cancel.js-mobile-close Скасувати