.sideform {
  width: 45vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  right: -100%;
  // right: 0;
  background: #f3f0ef;
  visibility: hidden;
  opacity: 0;
  z-index: 150;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    right 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include to(992px) {
    width: 100vw;
  }
  &::after {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    width: 130%;
    height: 101%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
  }
  .form-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 10;
    svg {
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease-in-out;
      &:hover {
        @include from(992px) {
          transform: rotate(90deg);
        }
      }
    }
  }
}
.form {
  position: relative;
  padding: 124px 190px 100px 190px;
  @include to(1440px) {
    padding: 124px 80px 100px 96px;
  }
  @include to(1280px) {
    padding: 124px 40px 100px 96px;
  }
  @include to(992px) {
    padding: 124px 20% 100px 20%;
  }
  @include to(575px) {
    padding: 124px 22px 100px 22px;
  }
}
.sideform-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.form-content__title {
  h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 32px;
    @include to(575px) {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 64px;
    color: #000000;
    @include to(575px) {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }
}
.feedback-form {
  .form-field {
    display: flex;
    flex-direction: column;
  }
  .form-field-input {
    margin-bottom: 16px;
    .input-sideform {
      border: none;
      background: $white;
      border-radius: 100px;
      padding-left: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      color: #000000;
      height: 48px;
      width: 100%;
      &::placeholder {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        color: #000000;
        @include to(575px) {
          font-size: 14px;
        }
      }
    }
  }
  .form-field-confirm {
    margin-top: 32px;
  }
  .btn-submite {
    border: none;
    width: 100%;
    font-family: $default-font;
  }
}
// form-gratitude
.form-gratitude {
  width: 45vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  right: -100%;
  // right: 0;
  background: #f3f0ef;
  visibility: hidden;
  opacity: 0;
  z-index: 150;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    right 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include to(992px) {
    width: 100vw;
  }
  &::after {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    width: 130%;
    height: 101%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
  }
  .form-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease-in-out;
      &:hover {
        @include from(992px) {
          transform: rotate(90deg);
        }
      }
    }
  }
}
.gratitude-form-content {
  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    margin-bottom: 22px;
    @include to(575px) {
      font-size: 30px;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    @include to(575px) {
      font-size: 18px;
    }
  }
}
// .form-sing-up
.form-sing-up {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  right: -100%;
  // right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 150;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    right 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  background: #f3f0ef;
  display: flex;
  align-items: center;
}
// .form-content {
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
// .form-container__btn {
//   position: absolute;
//   top: 60px;
//   left: 50%;
//   transform: translate(-60px, -50%);
//   width: 65px;
//   height: 65px;
//   @include to(992px) {
//     width: 45px;
//     height: 45px;
//     top: 30px;
//     transform: translate(-50%, 0);
//   }
//   @include to(575px) {
//     top: 20px;
//     transform: translate(-50%, 0);
//   }

//   .form-close {
//     width: 65px;
//     height: 65px;
//     // background: #464646;
//     border-radius: 50%;
//     position: relative;
//     cursor: pointer;
//     overflow: hidden;
//     background: transparent;
//     display: inline-block;
//     @include to(992px) {
//       width: 45px;
//       height: 45px;
//     }
//     svg {
//       width: 11px;
//       height: 11px;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       @include to(992px) {
//         width: 8px;
//         height: 8px;
//       }
//     }
//     &::before {
//       content: '';
//       background: #464646;
//       width: 100%;
//       height: 0;
//       padding-bottom: 100%;
//       border-radius: 50%;
//       transform: translate3d(0, 0, 0);
//       transition: transform 0.3s;
//       transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//     &:hover {
//       background-color: #679836;
//     }
//     &:hover::before {
//       transform: translate3d(0, 100%, 0);
//     }
//   }
// }
// .form-content__title {
//   font-size: 64px;
//   line-height: 120%;
//   text-transform: uppercase;
//   color: #ffffff;
//   @include to(1440px) {
//     font-size: 44px;
//   }
//   @include to(992px) {
//     font-size: 34px;
//   }
//   @include to(575px) {
//     font-size: 25px;
//   }
// }
// .sideform {
//   .form-field {
//     display: flex;
//     justify-content: space-between;
//     // align-items: center;
//     align-items: flex-start;
//     margin-top: 40px;
//     @include to(1440px) {
//       margin-top: 30px;
//     }
//     @include to(992px) {
//       flex-direction: column;
//       align-items: flex-start;
//     }
//   }
//   .form-field-input {
//     width: 40.5%;
//     @include to(992px) {
//       width: 100%;
//     }
//   }
//   .form-field__input {
//     width: 100%;
//     height: 80px;
//     border-radius: 5px;
//     margin-top: 15px;
//     padding-left: 40px;
//     border-bottom: 15px;
//     @include to(1440px) {
//       height: 60px;
//       margin-top: 10px;
//       padding-left: 30px;
//       font-size: 19px;
//     }
//     @include to(992px) {
//       height: 50px;
//       font-size: 14px;
//     }
//     @include to(575px) {
//       height: 55px;
//       font-size: 16px;
//     }
//     &::placeholder {
//       font-size: 24px;
//       line-height: 130%;
//       color: #2d2d2d;
//       @include to(1440px) {
//         font-size: 19px;
//       }
//       @include to(992px) {
//         font-size: 14px;
//       }
//       @include to(575px) {
//         font-size: 16px;
//       }
//     }
//   }
// }

// .form-field-confirm {
//   width: 9.8%;
//   padding-top: 12px;
//   @include to(575px) {
//     width: 100%;
//     display: flex;
//     justify-content: flex-end;
//   }
// }

// label {
//   font-size: 16px;
//   line-height: 100%;
//   letter-spacing: 0.05em;
//   text-transform: uppercase;
//   color: #c7c7c7;
//   @include to(1440px) {
//     font-size: 12px;
//   }
// }

// .input-message {
//   font-size: 14px;
//   color: #e16161;
//   line-height: 1.7;
//   padding: 15px 0;
//   min-height: 50px;
//   transition: opasity 0.4s ease-in-out;
//   @include to(1440px) {
//     font-size: 12px;
//     padding: 10px 0;
//     min-height: 40px;
//   }
//   @include to(992px) {
//     font-size: 10px;
//     padding: 10px 0;
//     min-height: 30px;
//   }
// }

// .callback__btn {
//   width: 110px;
//   height: 110px;
//   border-radius: 50%;
//   // background: $green;
//   border: none;
//   overflow: hidden;
//   background: #679836;
//   position: relative;
//   display: inline-block;
//   flex-shrink: 0;
//   @include to(1440px) {
//     width: 79px;
//     height: 79px;
//   }
//   @include to(992px) {
//     width: 60px;
//     height: 60px;
//   }
//   @include to(575px) {
//     width: 67px;
//     height: 67px;
//   }

//   svg {
//     width: 25px;
//     height: 26px;
//     stroke: #f0f0f0;
//     stroke-width: 11px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     @include to(1440px) {
//       width: 18px;
//       height: 17px;
//     }
//     @include to(992px) {
//       width: 13px;
//       height: 12px;
//     }
//   }
//   &::before {
//     content: '';
//     background: $green;
//     width: 100%;
//     height: 0;
//     padding-bottom: 105%;
//     border-radius: 50%;
//     transform: translate3d(0, 0, 0);
//     transition: transform 0.3s;
//     transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
//   &:hover::before {
//     transform: translate3d(0, 100%, 0);
//   }
// }
// .form-gratitude {
//   width: 100vw;
//   height: 100vh;
//   background: #2d2d2d;
//   position: fixed;
//   z-index: 200;
//   top: 0;
//   left: 0;
//   visibility: hidden;
//   opacity: 0;
//   transition: all 0.4s ease-in-out;

//   &.form-gratitude-active {
//     visibility: visible;
//     opacity: 1;
//     transition: all 0.4s ease-in-out;
//   }
//   .form-content__title {
//     width: 70%;
//     @include to(992px) {
//       width: 100%;
//     }
//   }
//   .form-gratitude__text {
//     font-size: 18px;
//     line-height: 160%;
//     color: #cbd2c5;
//     margin-top: 20px;
//     @include to(1440px) {
//       font-size: 14px;
//       margin-top: 10px;
//     }
//     @include to(992px) {
//       font-size: 15px;
//       margin-top: 30px;
//     }
//   }
//   .btn-404__link {
//     border: 1.2px solid #ffffff;
//     color: #ffffff;
//     &::before {
//       background: #2d2d2d;
//     }
//     &:hover {
//       border: 1px solid $green;
//     }
//   }
// }
// [data-btn-submit-text] {
//   display: none;
// }

// .placeholder-form {
//   background: white;
//   display: block;
//   display: flex;
//   align-items: center;
//   width: 100%;
//   position: absolute;
//   top: 40px;
//   left: 0;
//   cursor: text;
//   height: 80px;
//   padding-left: 40px;
//   border-radius: 5px;
//   font-size: 24px;
//   line-height: 130%;
//   color: #2d2d2d;
//   @include to(1440px) {
//     height: 60px;
//     padding-left: 30px;
//     font-size: 19px;
//     top: 34px;
//   }
//   @include to(992px) {
//     height: 50px;
//     font-size: 14px;
//     // top: 39px;
//   }
//   @include to(575px) {
//     height: 55px;
//     font-size: 16px;
//     // top: 41px;
//   }
// }
.form-header-call {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  width: 100vw;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 160;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  &.sideform-active {
    opacity: 1;
    visibility: visible;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  li {
    width: 100%;
    height: 50px;
    background: $white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 100%;
    color: $black;
    a {
      width: 100%;
      height: 50px;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      color: $black;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  button {
    width: 100%;
    height: 60px;
    border: none;
    background: none;
    font-family: $default-font;
    font-weight: 600;
    padding: 0;
    font-size: 15px;
    line-height: 100%;
    color: $black;
  }
  .cancel {
    background: $yellow;
    color: $black;
  }
}
