footer
  .footer 
    .navigation-container 
      .navigation-container__logo 
        .logo
          //- +svg('logo') 
          <svg width="157" height="60" viewBox="0 0 157 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1432_4484)">
            <path d="M36.006 15.3886L42.7559 11.3951C43.979 10.6732 44.1621 9.80816 43.6977 9.22279C42.1149 7.23255 40.2312 5.50246 38.1121 4.08458C37.5103 3.68133 36.6862 3.90246 36.3265 4.53336L32.2452 11.7789C31.9312 12.3382 32.1078 13.0147 32.6049 13.4049C33.2524 13.9122 33.8476 14.4716 34.3839 15.0895C34.8025 15.5643 35.4631 15.7073 36.006 15.3886Z" fill="#FEC62E"/>
            <path d="M29.9035 35.7726C28.8701 36.2409 27.7648 36.5791 26.6071 36.7677C25.9726 36.8718 25.4886 37.3856 25.5017 38.0295C25.5606 42.3287 25.7568 57.5482 25.7764 58.6474C25.7764 58.6734 25.8026 58.6864 25.8222 58.6669C28.2488 56.2864 32.6179 51.9027 36.8169 47.3043C36.8235 47.2978 36.83 47.2783 36.8235 47.2718L29.9428 35.7856C29.9362 35.7726 29.9166 35.7661 29.9035 35.7726Z" fill="#FEC62E"/>
            <path d="M19.4841 11.5578C20.197 11.2716 20.9426 11.044 21.7079 10.8879C22.3161 10.7643 22.7674 10.2635 22.7609 9.64559C22.7347 7.68787 22.6824 3.53177 22.6497 1.37242C22.6432 0.637459 21.9957 0.0520927 21.2566 0.14315C18.7515 0.461849 16.3577 1.15128 14.147 2.16591C13.4798 2.47161 13.2444 3.30413 13.6237 3.93502L17.9013 11.057C18.2217 11.6033 18.8954 11.7919 19.4841 11.5578Z" fill="#FEC62E"/>
            <path d="M26.267 10.7318C27.0715 10.8423 27.8499 11.0179 28.5955 11.2586C29.1841 11.4537 29.8317 11.2391 30.1391 10.6992L34.2138 3.46672C34.5801 2.81631 34.3119 1.98379 33.6186 1.70412C31.3425 0.787046 28.9029 0.20168 26.3455 5.37392e-05C25.6195 -0.0584828 25.0047 0.539891 25.0178 1.26835C25.0439 3.39518 25.1028 7.51875 25.129 9.50249C25.1355 10.1464 25.6326 10.6472 26.267 10.7318Z" fill="#FEC62E"/>
            <path d="M10.1378 25.1319L1.24919 25.249C0.523187 25.2555 -0.0720059 25.8799 0.00648108 26.5953C0.281185 29.327 1.00719 32.0457 1.85092 33.9709C2.01444 34.2831 2.3153 34.4587 2.5246 34.5238C2.84509 34.6213 3.25061 34.6408 3.64958 34.5238L11.4852 29.8864C12.0215 29.5677 12.2177 28.9173 12.0019 28.3319C11.7468 27.649 11.5441 26.9335 11.4002 26.1986C11.2824 25.5872 10.7657 25.1254 10.1378 25.1319Z" fill="#FEC62E"/>
            <path d="M14.0689 15.5646C14.5399 14.9792 15.0631 14.4394 15.6256 13.945C16.0965 13.5353 16.2339 12.8719 15.9134 12.3385L11.9367 5.69139C11.2172 4.49464 10.3735 4.30602 9.78486 4.7418C7.79652 6.21822 6.05019 7.98082 4.59164 9.97757C4.15342 10.5759 4.36272 11.4215 5.01024 11.7857L11.8648 15.6036C12.9963 16.228 13.67 16.0589 14.0689 15.5646Z" fill="#FEC62E"/>
            <path d="M11.3541 21.6782C11.4719 20.9433 11.6484 20.2213 11.8839 19.5319C12.0867 18.9465 11.8708 18.2961 11.328 17.9969L3.79321 13.7953C3.15878 13.4441 2.33466 13.6847 2.0338 14.3482C1.03309 16.5856 0.359409 18.9986 0.065083 21.5352C-0.0199445 22.2766 0.588329 22.914 1.33396 22.901C3.60354 22.8685 8.05767 22.8165 10.118 22.7839C10.7589 22.7774 11.256 22.2961 11.3541 21.6782Z" fill="#FEC62E"/>
            <path d="M44.1094 36.2472C42.0884 35.122 38.0594 32.8781 36.228 31.857C35.6786 31.5513 35.0246 31.7139 34.619 32.1952C34.0958 32.8261 33.5137 33.4049 32.8792 33.9253C32.3887 34.335 32.2317 35.018 32.5588 35.5643L37.5885 43.9675C38.0332 44.709 39.0666 44.7936 39.6357 44.1432C41.4736 42.0228 43.1676 39.948 44.5084 38.0879C44.9466 37.47 44.77 36.618 44.1094 36.2472Z" fill="#FEC62E"/>
            <path d="M22.0546 36.748C20.91 36.5399 19.8178 36.1756 18.7909 35.6943C18.7843 35.6943 18.7778 35.6943 18.7713 35.7008L12.0214 47.6943C12.0148 47.7073 12.0148 47.7203 12.0279 47.7269C16.8483 53.2488 21.8126 58.374 23.3954 59.9935C23.4151 60.013 23.4347 60 23.4347 59.974C23.4216 58.8293 23.1992 42.3415 23.1469 37.9577C23.1338 37.3399 22.6694 36.8586 22.0546 36.748Z" fill="#FEC62E"/>
            <path d="M15.887 33.8407C15.3115 33.3594 14.7751 32.8261 14.2911 32.2537C13.8791 31.7659 13.1989 31.6163 12.6494 31.9415L4.86616 36.5464C4.23826 36.9172 4.04859 37.7367 4.46718 38.335C5.78838 40.2147 7.43007 42.296 9.18948 44.4098C9.75851 45.0928 10.8312 45.0017 11.2628 44.2342C12.6102 41.8407 15.1218 37.3854 16.2075 35.4472C16.5149 34.9009 16.358 34.2375 15.887 33.8407Z" fill="#FEC62E"/>
            <path class="logo-fill" d="M66.498 27.1154C65.3796 28.6048 63.3847 29.3918 61.2459 29.3918C56.9618 29.3918 54.084 26.6471 54.084 22.504C54.084 18.6796 56.903 15.6162 60.9254 15.6162C63.0969 15.6162 65.0067 16.1691 66.2364 17.3983L64.6536 20.052C63.6528 19.0894 62.5671 18.7707 61.3636 18.7707C59.4865 18.7707 57.6944 20.2016 57.6944 22.504C57.6944 24.839 59.5127 26.2699 61.5075 26.2699C62.9465 26.2699 64.0584 25.5999 64.9152 24.6634L66.498 27.1154Z" />
            <path class="logo-fill" d="M72.6593 15.6162C77.0349 15.6162 79.8474 18.5626 79.8474 22.504C79.8474 26.4455 77.0284 29.3918 72.6593 29.3918C68.2836 29.3918 65.4712 26.4455 65.4712 22.504C65.4712 18.5626 68.2902 15.6162 72.6593 15.6162ZM72.6593 26.2699C74.7457 26.2699 76.2697 24.7804 76.2697 22.504C76.2697 20.2861 74.713 18.7707 72.6593 18.7707C70.6644 18.7707 69.0816 20.2276 69.0816 22.504C69.0816 24.6959 70.6055 26.2699 72.6593 26.2699Z" />
            <path class="logo-fill" d="M80.5801 15.9353H83.955V17.2491C84.7464 16.4036 86.1592 15.7012 87.742 15.7012C90.9731 15.7012 93.1707 17.2491 93.1707 21.3662V29.0735H89.7958V21.9516C89.7958 19.8508 88.71 18.8556 86.8329 18.8556C85.6883 18.8556 84.7464 19.3239 83.955 20.1109V29.0735H80.5801V15.9353Z" />
            <path class="logo-fill" d="M94.1123 12.2861H97.4872V15.9349H101.745V19.0894H97.4872V23.8764C97.4872 25.3073 97.9582 26.2374 99.0701 26.2374C99.9792 26.2374 100.627 25.8276 101.098 25.4764L102.125 28.0715C101.333 28.7154 99.9203 29.3528 98.2198 29.3528C95.2242 29.3528 94.1123 27.4276 94.1123 24.0715V12.2861Z" />
            <path class="logo-fill" d="M105.029 9.25537C105.997 9.25537 106.965 10.0163 106.965 11.2131C106.965 12.5529 105.997 13.3139 105.029 13.3139C103.884 13.3139 102.916 12.5529 102.916 11.2131C102.916 10.0098 103.884 9.25537 105.029 9.25537ZM103.263 15.935H106.638V29.0733H103.263V15.935Z" />
            <path class="logo-fill" d="M108.691 15.9353H112.066V17.2491C112.858 16.4036 114.271 15.7012 115.853 15.7012C119.084 15.7012 121.282 17.2491 121.282 21.3662V29.0735H117.907V21.9516C117.907 19.8508 116.821 18.8556 114.944 18.8556C113.8 18.8556 112.858 19.3239 112.066 20.1109V29.0735H108.691V15.9353Z" />
            <path class="logo-fill" d="M133.846 27.7593C132.525 28.8715 130.648 29.3918 128.797 29.3918C124.539 29.3918 121.694 26.6471 121.694 22.504C121.694 18.6796 124.336 15.6162 128.679 15.6162C132.087 15.6162 134.932 18.0357 134.932 21.717C134.932 22.5365 134.873 23.0308 134.729 23.5252H125.187C125.481 25.5089 127.064 26.5886 129.15 26.5886C130.766 26.5886 132.113 26.0032 132.878 25.3918L133.846 27.7593ZM125.069 21.2747H131.557C131.59 19.6682 130.471 18.413 128.535 18.413C126.508 18.4195 125.422 19.5577 125.069 21.2747Z" />
            <path class="logo-fill" d="M135.455 15.9353H138.83V17.2491C139.621 16.4036 141.034 15.7012 142.617 15.7012C145.848 15.7012 148.046 17.2491 148.046 21.3662V29.0735H144.671V21.9516C144.671 19.8508 143.585 18.8556 141.708 18.8556C140.563 18.8556 139.621 19.3239 138.83 20.1109V29.0735H135.455V15.9353Z" />
            <path class="logo-fill" d="M148.988 12.2861H152.363V15.9349H156.621V19.0894H152.363V23.8764C152.363 25.3073 152.834 26.2374 153.946 26.2374C154.855 26.2374 155.502 25.8276 155.973 25.4764L157 28.0715C156.209 28.7154 154.796 29.3528 153.095 29.3528C150.1 29.3528 148.988 27.4276 148.988 24.0715V12.2861Z" />
            <path class="logo-fill" d="M59.676 40.8194H58.7211V38.725L57.9885 38.1007L56.059 40.8259L54.9014 40.8194L57.2625 37.5088L55.0845 35.6877H56.4319L58.7211 37.5868V35.6877H59.676V37.5868L61.9652 35.6877L63.306 35.6812L61.128 37.5023L63.4957 40.8194H62.3511L60.4085 38.1007L59.676 38.725V40.8194Z" />
            <path class="logo-fill" d="M68.7085 40.8195H67.7536V39.8699C67.6228 40.2016 67.3743 40.4618 67.008 40.6569C66.6417 40.852 66.2493 40.9496 65.8176 40.9496C65.2486 40.9496 64.7711 40.787 64.3852 40.4618C63.947 40.0976 63.7246 39.5838 63.7246 38.9203V35.6813H64.6795V38.7252C64.6795 39.2195 64.8365 39.6163 65.157 39.9024C65.4448 40.1691 65.798 40.2992 66.2231 40.2992C66.6417 40.2992 66.9949 40.1691 67.2761 39.909C67.5966 39.6228 67.7536 39.226 67.7536 38.7187V35.6748H68.7085V40.8195Z" />
            <path class="logo-fill" d="M69.042 35.688H69.9969V36.4425C70.1277 36.1693 70.3305 35.9547 70.6183 35.7986C70.8995 35.6425 71.2004 35.5645 71.5209 35.5645C71.861 35.5645 72.1815 35.6555 72.4758 35.8376C72.7701 36.0197 72.9729 36.2799 73.071 36.6116C73.2018 36.2799 73.4242 36.0262 73.7316 35.8376C74.0455 35.6555 74.3922 35.5645 74.7715 35.5645C75.249 35.5645 75.648 35.7075 75.9685 36.0002C76.3282 36.3254 76.5113 36.7872 76.5113 37.3856V40.8197H75.5564V37.5677C75.5564 37.1579 75.4452 36.8327 75.2163 36.5986C74.9874 36.3645 74.7192 36.2474 74.4053 36.2474C74.0979 36.2474 73.8297 36.3579 73.6139 36.5726C73.3719 36.8197 73.2541 37.1514 73.2541 37.5677V40.8197H72.2992V37.5677C72.2992 37.1579 72.188 36.8327 71.9591 36.5986C71.7302 36.3645 71.462 36.2474 71.1481 36.2474C70.8341 36.2474 70.5725 36.3579 70.3566 36.5726C70.1146 36.8197 69.9969 37.1514 69.9969 37.5677V40.8197H69.042V35.688Z" />
            <path class="logo-fill" d="M76.8516 40.8194L78.9576 35.6812H80.1088L82.2148 40.8194L81.1814 40.8129L79.5332 36.6242L77.8719 40.8129L76.8516 40.8194Z" />
            <path class="logo-fill" d="M85.1841 35.4927C85.9101 35.4927 86.5249 35.7268 87.0285 36.1951C87.5845 36.7089 87.8657 37.3919 87.8657 38.2569C87.8657 39.1154 87.5845 39.7984 87.0285 40.3187C86.5249 40.787 85.9101 41.0211 85.1841 41.0211C84.4581 41.0211 83.8433 40.787 83.3396 40.3187C82.7837 39.8049 82.5024 39.1219 82.5024 38.2569C82.5024 37.3919 82.7837 36.7089 83.3396 36.1951C83.8498 35.7268 84.4646 35.4927 85.1841 35.4927ZM86.9108 38.2504C86.9108 37.6845 86.7669 37.2163 86.4856 36.8585C86.1717 36.4553 85.74 36.2537 85.1775 36.2537C84.6281 36.2537 84.1964 36.4553 83.8825 36.8585C83.6013 37.2228 83.4574 37.6911 83.4574 38.2504C83.4574 38.8097 83.6013 39.278 83.8825 39.6423C84.1964 40.0455 84.6281 40.2471 85.1775 40.2471C85.7269 40.2471 86.1586 40.0455 86.4726 39.6423C86.7669 39.2715 86.9108 38.8097 86.9108 38.2504Z" />
            <path class="logo-fill" d="M91.2605 35.688C91.8818 35.688 92.3658 35.8311 92.7059 36.1108C93.0003 36.3579 93.1507 36.6571 93.1507 37.0213C93.1507 37.2555 93.0853 37.4636 92.9545 37.6587C92.8237 37.8538 92.6405 37.9904 92.4116 38.0685C92.7452 38.166 93.0068 38.3481 93.203 38.6083C93.3796 38.836 93.4646 39.0896 93.4646 39.3628C93.4646 39.7595 93.3011 40.0912 92.9676 40.3644C92.5947 40.6701 92.0846 40.8262 91.4502 40.8262H88.3892V35.688H91.2605ZM91.2605 37.7823C91.5483 37.7823 91.7772 37.7173 91.9407 37.5807C92.1042 37.4441 92.1892 37.288 92.1892 37.0994C92.1892 36.9303 92.1173 36.7872 91.9734 36.6701C91.7968 36.527 91.5613 36.4555 91.2605 36.4555H89.3375V37.7823H91.2605ZM91.4567 40.0587C91.7772 40.0587 92.0323 39.9872 92.2219 39.8311C92.4116 39.6815 92.5097 39.5059 92.5097 39.3042C92.5097 39.0961 92.4051 38.9205 92.2023 38.7709C91.993 38.6213 91.6856 38.5433 91.2736 38.5433H89.3441V40.0522H91.4567V40.0587Z" />
            <path class="logo-fill" d="M98.5532 40.8195H97.5983V39.8699C97.4675 40.2016 97.219 40.4618 96.8527 40.6569C96.4864 40.852 96.094 40.9496 95.6623 40.9496C95.0933 40.9496 94.6158 40.787 94.2299 40.4618C93.7917 40.0976 93.5693 39.5838 93.5693 38.9203V35.6813H94.5243V38.7252C94.5243 39.2195 94.6812 39.6163 95.0017 39.9024C95.2895 40.1691 95.6427 40.2992 96.0678 40.2992C96.493 40.2992 96.8396 40.1691 97.1209 39.909C97.4414 39.6228 97.5983 39.226 97.5983 38.7187V35.6748H98.5532V40.8195Z" />
            <path class="logo-fill" d="M103.976 40.8197H103.021V39.8701C102.896 40.2018 102.654 40.4619 102.288 40.6571C101.922 40.8522 101.523 40.9497 101.091 40.9497C100.522 40.9497 100.045 40.7871 99.6587 40.4619C99.2271 40.0977 99.0112 39.5839 99.0112 38.9205V35.6815H99.9661V38.7254C99.9661 39.2132 100.123 39.6034 100.444 39.9026C100.731 40.1693 101.085 40.2993 101.497 40.2993C101.915 40.2993 102.268 40.1693 102.55 39.9091C102.87 39.6229 103.027 39.2262 103.027 38.7189V35.675H103.982V40.8197H103.976ZM100.156 34.9335V34.166H102.837V34.9335H100.156Z" />
            <path class="logo-fill" d="M112.504 35.6877H113.459V37.7755L115.951 35.6812L117.286 35.6877L115.127 37.5088L117.482 40.8194H116.331L114.401 38.1202L113.459 38.9137V40.8129H112.504V35.6877Z" />
            <path class="logo-fill" d="M120.144 35.4927C120.87 35.4927 121.484 35.7268 121.988 36.1951C122.544 36.7089 122.825 37.3919 122.825 38.2569C122.825 39.1154 122.544 39.7984 121.988 40.3187C121.484 40.787 120.87 41.0211 120.144 41.0211C119.418 41.0211 118.803 40.787 118.299 40.3187C117.743 39.8049 117.462 39.1219 117.462 38.2569C117.462 37.3919 117.743 36.7089 118.299 36.1951C118.803 35.7268 119.418 35.4927 120.144 35.4927ZM121.87 38.2504C121.87 37.6845 121.726 37.2163 121.445 36.8585C121.131 36.4553 120.7 36.2537 120.137 36.2537C119.588 36.2537 119.156 36.4553 118.842 36.8585C118.561 37.2228 118.417 37.6911 118.417 38.2504C118.417 38.8097 118.561 39.278 118.842 39.6423C119.156 40.0455 119.588 40.2471 120.137 40.2471C120.686 40.2471 121.118 40.0455 121.432 39.6423C121.726 39.2715 121.87 38.8097 121.87 38.2504Z" />
            <path class="logo-fill" d="M126.939 40.8259L125.984 40.8194L124.055 37.2877V40.8194H123.1V35.6812H124.251L126.455 39.7722L128.66 35.6812H129.811V40.8194H128.856V37.3332L126.939 40.8259Z" />
            <path class="logo-fill" d="M130.157 35.688H131.112V36.6376C131.243 36.2994 131.485 36.0327 131.845 35.8376C132.204 35.6425 132.597 35.5449 133.022 35.5449C133.598 35.5449 134.082 35.7075 134.467 36.0327C134.906 36.4035 135.128 36.9238 135.128 37.5872V40.8262H134.173V37.7823C134.173 37.288 134.016 36.8913 133.696 36.6051C133.414 36.3449 133.061 36.2148 132.643 36.2148C132.231 36.2148 131.877 36.3449 131.59 36.6051C131.269 36.8913 131.112 37.288 131.112 37.7823V40.8262H130.157V35.688Z" />
            <path class="logo-fill" d="M135.102 40.8194L137.208 35.6812H138.359L140.465 40.8194L139.432 40.8129L137.784 36.6242L136.122 40.8129L135.102 40.8194Z" />
            <path class="logo-fill" d="M144.599 39.3107H145.619C145.475 39.8505 145.161 40.2798 144.684 40.5855C144.233 40.8717 143.709 41.0148 143.108 41.0148C142.244 41.0148 141.564 40.7286 141.054 40.1497C140.596 39.6294 140.367 38.9985 140.367 38.2506C140.367 37.5026 140.596 36.8717 141.054 36.3514C141.558 35.779 142.244 35.4863 143.108 35.4863C143.971 35.4863 144.638 35.7855 145.129 36.3774C145.567 36.9107 145.789 37.5741 145.789 38.3676V38.5432H141.407C141.407 39.0961 141.597 39.5253 141.97 39.8375C142.297 40.1107 142.676 40.2473 143.121 40.2473C143.454 40.2473 143.762 40.1627 144.043 40.0001C144.331 39.831 144.514 39.6034 144.599 39.3107ZM141.44 37.7823H144.769C144.723 37.379 144.56 37.0278 144.272 36.7351C143.951 36.4164 143.566 36.2603 143.114 36.2603C142.663 36.2603 142.277 36.4164 141.957 36.7351C141.656 37.0278 141.486 37.379 141.44 37.7823Z" />
            <path class="logo-fill" d="M146.031 35.6877H146.986V37.7755L149.478 35.6812L150.812 35.6877L148.654 37.5088L151.009 40.8194H149.857L147.928 38.1202L146.986 38.9137V40.8129H146.031V35.6877Z" />
            <path class="logo-fill" d="M155.188 39.2979H156.176C156.032 39.8442 155.718 40.2735 155.24 40.5792C154.789 40.8653 154.266 41.0084 153.664 41.0084C152.801 41.0084 152.121 40.7223 151.617 40.1434C151.159 39.6231 150.93 38.9922 150.93 38.2442C150.93 37.4962 151.159 36.8653 151.617 36.345C152.121 35.7727 152.807 35.48 153.664 35.48C154.279 35.48 154.815 35.6231 155.267 35.9158C155.718 36.2084 156.019 36.6312 156.169 37.1971H155.182C155.051 36.9044 154.861 36.6702 154.606 36.5011C154.351 36.332 154.037 36.2475 153.664 36.2475C153.121 36.2475 152.69 36.4556 152.376 36.8718C152.094 37.2426 151.951 37.6979 151.951 38.2442C151.951 38.784 152.094 39.2393 152.376 39.6166C152.696 40.0328 153.128 40.241 153.664 40.241C154.03 40.241 154.344 40.1564 154.593 39.9938C154.848 39.8377 155.044 39.6036 155.188 39.2979Z" />
            </g>
            <defs>
            <clipPath id="clip0_1432_4484">
            <rect width="157" height="60" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        .group-logo
          +svg('logo-group')
      .navigation-container__move 
        ul 
          li 
            a(href="#") Проекти
          li 
            a(href="#") Квартири
          li 
            a(href="#") Комерційні приміщення
          li 
            a(href="#") Інвестиції
          li 
            a(href="#") Інфраструктура
        ul 
          li 
            a(href="#") Continent Club
          li 
            a(href="#") Контакти
          li 
            a(href="#") Про компанію
          li 
            a(href="#") Акції та новини
          li 
            a(href="#") Про Бучу
    .contact-container
      .contact-container__info
        .footer-map
          a(href="https://goo.gl/maps/Mz6mqUfTmN8qtFQC6" target="_blank")
            span м. Буча. <br> пров. Олекси Тихого 4
        .footer-tel
          a(href='tel:+380503694892')
            span 050 369-48-92
          a(href='tel:+380676938069')
            span 067 693-80-69
        ul.schedule
          li.schedule__link
            .schedule__label Пн-Cб:
            .schedule__value з 9:00 до 18:00
          li.schedule__link
            .schedule__label Нд:
            .schedule__value з 11:00 до 17:00
      ul.footer-social
        li.footer-social__item 
          a(href="#").footer-social__link Facebook
        li.footer-social__item 
          a(href="#").footer-social__link Instagram
        li.footer-social__item 
          a(href="#").footer-social__link Telegram
        li.footer-social__item 
          a(href="#").footer-social__link Youtube
 
  .footer-rights © 2021 Continent.ua


  //- ul.footer-navigation
  //-   li
  //-     a(href="#")
  //-       span обрати нерухомість
  //-   li
  //-     a(href="#")
  //-       span інфраструктура
  //-   li
  //-     a(href="documents.html")
  //-       span документи
  //-   li
  //-     a(href="#")
  //-       span для інвестора
  //-   li
  //-     a(href="#")
  //-       span забудовник
    
  //- .footer-content
  //-   .footer-form
  //-     h3 заповніть поля нижче і ми зв’яжемося з вами:

  //-     form(action="#" class="contact-form" data-footer-form)
  //-       .form-field
  //-         .form-field-input(data-field-input data-field-name data-status="field--inactive")
  //-           label(for="callback-form-input-name") ваше im’я
  //-           input(class="input-footer form-name form-field__input contact-form-input" type="text" name="name" id="callback-form-name"  placeholder="Iм’я" autocomplete="on" value="")
  //-           .input-message(data-input-message)
  //-         .form-field-input(data-field-input data-field-phone data-status="field--inactive")
  //-           label(for="callback-form-phone") ваш номер
  //-           input(class="input-sideform input-footer form-tel form-field__input contact-form-input js-input-footer" type="text" id="callback-form-phone" class=""  autocomplete="on" name="phone" inputmode="tel")
  //-           span.placeholder-footer.js-placeholder-footer Номер
  //-           .input-message(data-input-message)
  //-         button(class="form-button form-button-js" type="submit" data-btn-submit="data-btn-submit") 
  //-           +svg('arrow-next').btn-submite
  //-           span(data-btn-submit-text="")
  //-   .footer-container-contact
  //-     ul.footer-info
  //-       li.footer-info-item.footer-info-item--social
  //-         p.title відділ продажу 
  //-         .footer-info-map
  //-           a(href="https://goo.gl/maps/SZkUJRYed9gccQWG7" target="_blank").description
  //-             span м. Ужгород, вул. Легоцького, 80
  //-         p пн-вс: 09:00-18:00
  //-       li.footer-info-item.footer-info-item--phone
  //-         p.title телефон
  //-         a(href="tel:+380505008584").description + 38 (050) 500-85-84
  //-       li.footer-info-item.footer-info-item--social
  //-         p.title Соціальні мережі
  //-         ul.footer-social
  //-           li.footer-social-item
  //-             a(href="#").footer-social-link instagram
  //-           li.footer-social-item
  //-             a(href="#").footer-social-link Facebook
            
  //-     .arrow-up.js-btn-up
  //-       .green-hover
  //-         +svg('arrow-next').arrow-up-btn

  //- .footer-rights-reserved
  //-   .footer-rights © Усі права захищено. PARKLAND 2021
  //-   .footer-rights-info Не є публічною офертою. 
  //-     span Візуалізації та планування об’єкту є орієнтовними. 
  //-     |Забудовник має право вносити зміни згідно з діючим законодавством.
  //-   .footer-dev
  //-     a(href="https://smarto.agency/" rel="nofollow" target="_blank") 
  //-       +svg('smarto')
        