header.header.js-header
  .logo-container
    .logo
      a(href='index.html').logo__link
        +svg('logo')
    .logo-group
      a(href='#').logo-group__link
        +svg('logo-group')
  .nav
    a(href='tel:+380503694892').nav__tel-link
      span.nav__tel-text 050 369-48-92
    a(href='tel:+380676938069').nav__tel-link
      span.nav__tel-text 067 693-80-69
    button(type='button').nav__call-btn.js-call
      +svg('phone')
      span.nav__call-btn-text Замовити дзвінок
    a(href='#').realty__link
      +svg('star')
    .menu.js-menu-open
      +svg('menu').menu__img
      span.menu__text Меню
        

