//- .building-popup
  .building-popup__container
    h2.building-popup__title Хід будівництва 1 березня 2021
    +svg('popup-close').btn-popup

    .building-swiper
      .swiper-wrapper
        .swiper-slide
          .building-swiper__img 
            img(src="./assets/images/building/building1.jpg", alt="")
        .swiper-slide
          .building-swiper__img 
            img(src="./assets/images/building/building2.jpg", alt="")
        .swiper-slide
          .building-swiper__img 
            img(src="./assets/images/building/building3.jpg", alt="")
        .swiper-slide
          .building-swiper__img 
            img(src="./assets/images/building/building3.jpg", alt="")
          
      .swiper-navigation
        .swiper-button-prev
        .swiper-pagination
        .swiper-button-next






.building-popup( data-build-popup-container)
  .building-popup__container
    +svg('popup-close').btn-popup(data-close-build-popup)
    h2.building-popup__title Хід будівництва 
      span(data-build-date) 18 &nbsp;
      span(data-build-month) червня &nbsp;
      span(data-build-year) 2021

    .swiper.buildingSwiper
      .swiper-wrapper
      //-   .swiper-slide
      //-     img(src="./assets/images/building1.jpg", alt="")
      //-   .swiper-slide
      //-     img(src="./assets/images/building2.jpg", alt="")
      //-   .swiper-slide
      //-     img(src="./assets/images/building3.jpg", alt="")
      //-   .swiper-slide
      //-     img(src="./assets/images/building4.jpg", alt="")
      //-   .swiper-slide
      //-     <iframe class="building-swiper-video" width="560" height="315" src="https://www.youtube.com/embed/xModD1ROH5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .swiper-pagination-container
        .swiper-pagination
        .swiper-button-container
          .swiper-button-prev
            +svg('arrow-prev')
          .swiper-button-next 
            +svg('arrow-next')
