section.sing-up-review
    .sing-up-review__form
      h2.our-projects__title Запишіться на перегляд
      h4 З радістю влаштуємо вам тур по житловому кварталу та пригостимо смачною кавою!
      form( action="#" class="review-form")
        .form-field
          .form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(class="input-review form-name form-field__input contact-form-input" type="text" placeholder=" " name="name" id="callback-form-name"  autocomplete="on" value="")
            span.placeholder Ваше ім’я
            .input-message(data-input-message)
          .form-field-input(data-field-input data-field-phone data-status="field--inactive")
            input(class="input-review form-tel form-field__input contact-form-input js-input-form" type="text" placeholder=" " id="callback-form-phone"  autocomplete="on" name="phone" inputmode="tel")
            span.placeholder Ваш номер телефону
            .input-message(data-input-message)
        .form-field-time
          .form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(class="input-date form-name form-field__input contact-form-input" type="date" name="#" id="#" placeholder="Зручний день" autocomplete="on" value="")
            span.checkmark Зручний день
          .form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(class="input-date form-name form-field__input contact-form-input" type="time" name="#" id="#" placeholder="Зручний час" autocomplete="on" value="")
            span.checkmark Зручний день
          select(class="select" name="connection")
            option(disabled) Пріоритетний зв’язок
            option(value="tel") По телефону
            option(value="viber") Написати в Viber
            option(value="telegram") Написати в Telegram
        .form-field-confirm
          button(class="realty" type="submit" data-btn-submit="data-btn-submit") 
            span Записатися на перегляд
            +svg('arrow')
    .sing-up-review__manager 
      .manager-img 
        img(src="./assets/images/manager.jpg", alt="manager")
      .manager-name Вікторія Шевченко
      .manager-role Керівниця відділу продажів