extends ../layout/main
block variable
  -
    var title_page = '404'
    var id_page = 'page-404'
    var class_page = '404'
    // var breadcrumbsBtn = 'filter'
block meta
  title= '404'
  meta(name='description', content='')
block head
  link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  //- script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/menu.js')

block content
  .container-404
    h1.title 404
    h2.description Такої сторінки не існує.
    h3.advice Почніть з головної або подивіться, які квартири ми пропонуємо
    .container-404__btn
      .btn-404
        a(href='index.html').btn-404__link
          span На головну
          +svg('home')
      .btn-404
        a(href='#').btn-404__link
          span Наші квартири
          +svg('arrow')
      

	
block header
  include ../includes/header.pug
block footer
  include ../includes/footer.pug
 




