extends ../layout/main
block variable
  -
    var title_page = 'Про забудовника'
    var id_page = 'developer'
    var class_page = 'developer'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
 
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header-single.js')
  script(defer src='./assets/scripts/header-menu.js')
  script(defer src='./assets/scripts/footer.js')
  script(defer src='./assets/scripts/social-btn.js')
  //- script(defer src='./assets/scripts/map.js')
  //- script(defer src='./assets/scripts/developer.js')
  script(defer src='./assets/scripts/bucha.js')
  script(defer src='./assets/scripts/select.js')

block content
  include ../includes/breadcrumbs.pug
  section.about-developer
    h2.our-projects__title Про забудовника
    .developer__container 
      .developer__container-text
        p.text Компанія-девелопер Strakhovskyi Group заснована у 2011 році. За 10 років свого існування Strakhovskyi Group побудували та успішно реалізували 72 000 кв.м. нерухомості.
        p.text-small А якщо простіше - то за ці 10 років ми зробили щасливішими майже 1000 сімей. Чому? Переваг безліч, але основні, на які варто звернути увагу, знайомлячись з нами, нижче.
      .group-logo
        +svg('strakhovsky-logo')
  .video-box
    video( muted loop controls preload="metadata" class="swiper-video video") 
      <source src="./assets/images/video1.mp4" type="video/mp4">
    .play-button.playpause
      .svg-wrapper
        <svg id='svg' width="100px" height="100px" viewbox='0 0 100 100'>
          <circle cx='50' cy='50' r='45' stroke='#FFFFFF' stroke-width='2'  fill='none' opacity='0.5'/>
          <circle id='circle' cx='50' cy='50' r='45' stroke='#FFFFFF' stroke-width='2'  fill='none'/>
        </svg>
        <svg class="play" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="36" cy="36" r="36"/>
          <path d="M44.5518 35.6401C45.2044 36.0276 45.2044 36.9724 44.5518 37.3599L31.5105 45.1031C30.8439 45.4989 30 45.0185 30 44.2433L30 28.7567C30 27.9815 30.8439 27.5011 31.5105 27.8969L44.5518 35.6401Z"/>
        </svg>
  .description__container.js-developer 
    .description__text 
      h2.our-projects__title Клієнтоорієнтованість
      p А інакше і бути не може. Від першого візиту у відділ продажу до моменту заселення у власне житло, - для нашої команди немає нічого важливішого, ніж інвестори. Після заселення до справи беруться спеціалісти власної управляючої компанії “Комфорт-Сервіс” і кожного дня працюють над тим, аби мешканці отримували задоволення від проживання у ЖК. 
    .description-swiper.js-init-swiper 
      .swiper-wrapper
        .swiper-slide
          img(src="./assets/images/realized-project2.jpg", alt="")
        .swiper-slide
          img(src="./assets/images/project1.jpg", alt="")
        .swiper-slide
          img(src="./assets/images/realized-project2.jpg", alt="")
      .navigation-container
        .swiper-pagination1
        .swiper-scrollbar1
        .swiper-btn
          .swiper-button-prev1 
            +svg('swiper-prev')
          .swiper-button-next1
            +svg('swiper-next')
     
  .description__container.reverse.js-developer 
    .description__text 
      h2.our-projects__title Соціальна відповідальність
      p Добудувати корпус початкової школи; створити неймовірної краси сквер; розробити проєкт сучасного бібліотечного простору і дати друге життя старій бібліотеці; реконструювати залізничний переїзд; побудувати безпечний пішохідний перехід; постійно підтримувати та розвивати молодих спортсменів - це про Strakhovskyi Group. І це норма. Адже, тільки роблячи внесок у краще суспільство, бізнес може рости, рухатися вперед і бути успішним.
      
    .container-description-swiper
      .description-swiper.js-init-swiper
        .swiper-wrapper
          .swiper-slide
            img(src="./assets/images/developer1.jpg", alt="")
          .swiper-slide
            img(src="./assets/images/project1.jpg", alt="")
          .swiper-slide
            img(src="./assets/images/realized-project2.jpg", alt="")
        .navigation-container
          .swiper-pagination1
          .swiper-scrollbar1
          .swiper-btn
            .swiper-button-prev1
              +svg('swiper-prev')
            .swiper-button-next1
              +svg('swiper-next')
  .description__container.js-developer 
    .description__text 
      h2.our-projects__title Унікальна концепція кожного простору
      p Будуючи свої житлові простори, ми хочемо створювати локації, якими мешканці будуть пишатися, запрошувати своїх друзів, де буде приємно проводити час  не важливо як - вдома чи на вулиці, наодинці чи з родиною, де буде сконцентрована найнеобхідніша інфраструктура, де буде школа та садочок в 5 хвилинах, де навіть у під`їзді буде затишно, наче вдома. 
      p Людина та цивілізовані умови поруч з нею - ось концепція, яку ми з кожним новим ЖК вдосконалюємо,  якій слідуємо вже 10 років, і яку в жодному разу не змінимо.
      
    .description-swiper.js-init-swiper 
      .swiper-wrapper
        .swiper-slide
          img(src="./assets/images/developer2.jpg", alt="")
        .swiper-slide
          img(src="./assets/images/project1.jpg", alt="")
        .swiper-slide
          img(src="./assets/images/realized-project2.jpg", alt="")
      .navigation-container
        .swiper-pagination1
        .swiper-scrollbar1
        .swiper-btn
          .swiper-button-prev1
            +svg('swiper-prev')
          .swiper-button-next1
            +svg('swiper-next')
  .description__container.reverse.js-developer 
    .description__text 
      h2.our-projects__title Увага до деталей
      p У Strakhovskyi Grouр це поняття розуміють, як ніхто і ніде не розуміє. Нам здається, що саме деталі  допомагають скласти необхідний пазл, намалювати загальну картину і справити враження. 
      p Здавалося б, ми всього задекорували стіни під`їздів справжнім мохом, реалізували доступ на територію ЖК за допомогою телефону, висадили вздовж будинків дивовижні бельгійські граби, - та коли ви складете всі ці деталі в єдине ціле, то отримаєте те саме місце, в якому захочете жити і насолоджуватися кожним моментом.  
      
    .container-description-swiper
      .description-swiper.js-init-swiper
        .swiper-wrapper
          .swiper-slide
            img(src="./assets/images/developer3.jpg", alt="")
          .swiper-slide
            img(src="./assets/images/project1.jpg", alt="")
          .swiper-slide
            img(src="./assets/images/realized-project2.jpg", alt="")
        .navigation-container
          .swiper-pagination1
          .swiper-scrollbar1
          .swiper-btn
            .swiper-button-prev1
              +svg('swiper-prev')
            .swiper-button-next1
              +svg('swiper-next')
  .description__container.js-developer 
    .description__text 
      h2.our-projects__title Унікальна концепція кожного простору
      p Чесно кажучи, не зовсім перевагою вважаємо “якісні матеріали”. Це - норма, якій мають слідувати всі забудовники. Кожен перед собою повинен ставити за ціль комфорт та затишок майбутніх мешканців житлових комплексів. А без якості не може бути комфорту та затишку, погодьтеся. 
      
    .description-swiper.js-init-swiper 
      .swiper-wrapper
        .swiper-slide
          img(src="./assets/images/developer4.jpg", alt="")
        .swiper-slide
          img(src="./assets/images/project1.jpg", alt="")
        .swiper-slide
          img(src="./assets/images/realized-project2.jpg", alt="")
      .navigation-container
        .swiper-pagination1
        .swiper-scrollbar1
        .swiper-btn
          .swiper-button-prev1
            +svg('swiper-prev')
          .swiper-button-next1
            +svg('swiper-next')

  include ../includes/sing-up.pug

block header
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug