extends ../layout/main
block variable
  -
    var title_page = 'Документи'
    var id_page = 'documents'
    var class_page = 'documents'
    // var breadcrumbsBtn = 'filter'
    //- var breadcrumbsSubitem = [
    //-   {
    //-     label: 'Документи',
    //-     link: pagesLink[0].documents
    //-   }
    //- ]
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header-menu.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/documents.js')
  script(defer src='./assets/scripts/accordeon.js')
  script(defer src='./assets/scripts/select.js')
  //- script(defer src='./assets/scripts/footer.js')
//- block arrow 
//-   +svg('scroll-down').js-scroll-down

block content
  section.documents-container
    h2.our-projects__title Документи
    .accordion.js-accordion
      .accordion-item
        .accordion-toggle Введення в експлуатацію
        .accordion-panel
          .tab
            button.tablinks.tabs__nav-btn.active(data-tab="#tab_1") Земельна ділянка
            button.tablinks.tabs__nav-btn(data-tab="#tab_2") Кадастровий номер земельної ділянки
          .tabcontent.tabs__item.active(id="tab_1")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
          .tabcontent.tabs__item(id="tab_2")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
      .accordion-item
        .accordion-toggle Документи на земельну ділянку
        .accordion-panel
          .tab
            button.tablinks.tabs__nav-btn.active(data-tab="#tab_3") Земельна ділянка
            button.tablinks.tabs__nav-btn(data-tab="#tab_4") Кадастровий номер земельної ділянки
          .tabcontent.tabs__item.active(id="tab_3")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
          .tabcontent.tabs__item(id="tab_4")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)


      .accordion-item
        .accordion-toggle Документи на будівництво
        .accordion-panel
          .tab
            button.tablinks.tabs__nav-btn.active(data-tab="#tab_5") Право на виконання будівельних робіт
            button.tablinks.tabs__nav-btn(data-tab="#tab_6") Право на виконання підготовчих робіт
            button.tablinks.tabs__nav-btn(data-tab="#tab_7") Містобудівні умови та обмеження
            button.tablinks.tabs__nav-btn(data-tab="#tab_8") Клас наслідків
          .tabcontent.tabs__item.active(id="tab_5")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Декларація про початок виконання будівельних робіт серії КС №083161370833 від травня 2016 року;
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate iure assumenda corporis. Eveniet, esse quis.
          .tabcontent.tabs__item(id="tab_6")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року
          .tabcontent.tabs__item(id="tab_7")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року
          .tabcontent.tabs__item(id="tab_8")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року
      .accordion-item
        .accordion-toggle Учасники будівництва
        .accordion-panel
          .tab
            button.tablinks.tabs__nav-btn.active(data-tab="#tab_9") Генпідрядник
            button.tablinks.tabs__nav-btn(data-tab="#tab_10") Замовник
            button.tablinks.tabs__nav-btn(data-tab="#tab_11") Девелопер
          .tabcontent.tabs__item.active(id="tab_9")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Електронна ліцензія на право проведення господарської діяльності, пов'язаної із створенням об'єктів архітектури № 2013065168 видана ТОВ «ПАЛЕКС-М» від 11.09.2019 року - безстроково.
          .tabcontent.tabs__item(id="tab_10")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
          .tabcontent.tabs__item(id="tab_11")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
            
          
      .accordion-item
        .accordion-toggle Незалежний рейтинг
        .accordion-panel
          ul.rating 
            li.rating__item 
              .logo
                img(src="./assets/images/rating1.png", alt="")
              .text.text-index 
                span.mobile-text Індекс надійності новобудови 
                span.own 182
                span.total з 220
              .link 
                a(href="#")
                  +svg('pdf')
                  span Завантажити звіт
            li.rating__item 
              .logo
                img(src="./assets/images/rating2.png", alt="")
              .text ТОВ "КОНТИНЕНТ РЕЙ"
              .link 
                a(href="#" target="_blank")
                  +svg('pdf')
                  span Завантажити звіт
            li.rating__item 
              .logo
                img(src="./assets/images/rating3.png", alt="")
              .text ТОВ "КОНТИНЕНТ РЕЙ"
              .link 
                a(href="#" target="_blank")
                  +svg('pdf')
                  span Завантажити звіт
 
  include ../includes/sing-up.pug
block header
  include ../includes/header.pug
block footer
  include ../includes/footer.pug



