extends ../layout/main
block variable
  -
    var title_page = 'Документи'
    var id_page = 'documents'
    var class_page = 'documents'
    // var breadcrumbsBtn = 'filter'
    //- var breadcrumbsSubitem = [
    //-   {
    //-     label: 'Документи',
    //-     link: pagesLink[0].documents
    //-   }
    //- ]
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/tab.js')
  script(defer src='./assets/scripts/accordeon.js')
  script(defer src='./assets/scripts/footer.js')
//- block arrow 
//-   +svg('scroll-down').js-scroll-down

block content
  section.documents-container
    h2.our-projects__title Документи
    .accordion.js-accordion
      .accordion-item
        .accordion-toggle Введення в експлуатацію
        .accordion-panel
          p Придбання м.кв. житла і комерційних площ на ранній стадії будівництва з метою перепродажу на більш пізньому етапі або після введення в експлуатацію нерухомості, яка у той час буде коштувати значно дорожче або ж здаватиметься в оренду і приноситиме «пасивний» дохід з оренди.
          p Придбання м.кв. житла і комерційних площ на ранній стадії будівництва з метою перепродажу на більш пізньому етапі або після введення в експлуатацію нерухомості, яка у той час буде коштувати значно дорожче або ж здаватиметься в оренду і приноситиме «пасивний» дохід з оренди.
      .accordion-item
        .accordion-toggle Документи на земельну ділянку
        .accordion-panel
          .tab
            button.tablinks.tabs__nav-btn(data-tab="#tab_1") Земельна ділянка
            button.tablinks.tabs__nav-btn(data-tab="#tab_2") Кадастровий номер земельної ділянки
          .tabcontent.tabs__item(id="tab_1")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
          .tabcontent.tabs__item(id="tab_2")
            ul.documents-tabcontent__list 
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)
              li.documents-tabcontent__item 
                a(href="#").documents-tabcontent__link
                  +svg('pdf')
                  span Договір суперфиция від 10.09.2015 року (номер записи №НВ-3205041312015)


      .accordion-item
        .accordion-toggle Документи на будівництво
        .accordion-panel
          p Придбання м.кв. житла і комерційних площ на ран
      .accordion-item
        .accordion-toggle Учасники будівництва
        .accordion-panel
          p Придбання м.кв. житла і комерційних площ на ран
      .accordion-item
        .accordion-toggle Незалежний рейтинг
        .accordion-panel
          p Придбання м.кв. житла і комерційних площ на ран
    
block header
  include ../includes/header.pug
block footer
  include ../includes/footer.pug



