extends ../layout/main
block variable
  -
    var title_page = 'Oбране'
    var id_page = 'favorites'
    var class_page = 'favorites'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
   
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/favorites.js')
  //- script(defer src='./assets/scripts/developer.js') 
  //- script(defer src='./assets/scripts/map.js')
  //- script(defer src='./assets/scripts/accordeon.js')
  //- script(defer src='./assets/scripts/infrastructure.js')
  //- script(defer src='./assets/scripts/no-scroll.js')
  script(defer src='./assets/scripts/footer.js')

block content
  include ../includes/breadcrumbs.pug
  .favorites-full
    .favorites-title
      h2.our-projects__title Oбране
      .favorites-title__btn 
        a(href="#").favorites-title__link
          +svg('pdf')
          span Сформувати Pdf
        a(href="#").favorites-title__link
          +svg('btn-telegram')
          span Надіслати в телеграм
    ul.products-list 
      li.products-item 
      li.products-item 
        .view Це планування дивились 
          span.total 89 
          | разів
        a(href="#").products-link
          +svg('flat2')
        +svg('popup-close').close-products
      li.products-item 
        .view Це планування дивились 
          span.total 89 
          | разів
        a(href="#").products-link
          +svg('flat2')
        +svg('popup-close').close-products
      li.products-item 
        .view Це планування дивились 
          span.total 89 
          | разів
        a(href="#").products-link
          +svg('flat2')
        +svg('popup-close').close-products
    ul.products-list.products-parametrs
      li.products-item 
        .title-item Квартира
      li.products-item 
        .title-description Квартира 95.2 м²
      li.products-item 
        .title-description Квартира 35.5 м²
      li.products-item 
        .title-description Квартира 48.2 м²
    ul.products-list.products-parametrs
      li.products-item 
        .title-item Проект
      li.products-item 
        .title-description Continent Black
      li.products-item 
        .title-description Continent Ray
      li.products-item 
        .title-description Continent Ray
    ul.products-list.products-parametrs
      li.products-item 
        .title-item Заселення
      li.products-item 
        .title-description ІІІ квартал 2021 р.
      li.products-item 
        .title-description ІV квартал 2021 р.
      li.products-item 
        .title-description І квартал 2022 р.
    ul.products-list.products-parametrs
      li.products-item 
        .title-item клас жк
      li.products-item 
        .title-description Комфорт
      li.products-item 
        .title-description Комфорт
      li.products-item 
        .title-description Комфорт
    h3.title-parametrs Метраж
    ul.products-list.products-parametrs
      li.products-item 
        .title-item Загальна площа
      li.products-item 
        .title-description 95.2 м²
      li.products-item 
        .title-description 35.5 м²
      li.products-item 
        .title-description 48.2 м²
    ul.products-list.products-parametrs
      li.products-item 
        .title-item Жила площа
      li.products-item 
        .title-description 70.2 м²
      li.products-item 
        .title-description 20.2 м²
      li.products-item 
        .title-description 33.2 м²
    h3.title-parametrs Розташування
    ul.products-list.products-parametrs
      li.products-item 
        .title-item Місто
      li.products-item 
        .title-description Буча
      li.products-item 
        .title-description Буча
      li.products-item 
        .title-description Буча
    ul.products-list.products-parametrs
      li.products-item 
        .title-item Поверх
      li.products-item 
        .title-description 5/7
      li.products-item 
        .title-description 2/7
      li.products-item 
        .title-description 3/5
    ul.products-list.products-parametrs
      li.products-item 
        .title-item 
      li.products-item 
        .title-description 
          button(class="realty") 
            span Дізнатись ціну
      li.products-item 
        .title-description 
          button(class="realty") 
            span Дізнатись ціну
      li.products-item 
        .title-description 
          button(class="realty") 
            span Дізнатись ціну
  .favorites-empty 
    +svg('favorites-logo')
    h3.title-parametrs Ви поки що нічого не додали до обраного 
    a(href="#").realty
      span Oбрати квартиру
      +svg('arrow')


block header
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug