extends ../layout/main
block variable
  -
    var title_page = 'Oбране'
    var id_page = 'favorites'
    var class_page = 'favorites'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
   
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header-single.js')
  script(defer src='./assets/scripts/header-menu.js')
  script(defer src='./assets/scripts/flats/favorites.js')
  script(defer src='./assets/scripts/favorites/favorites-renderer.js')
  script(defer src='./assets/scripts/favorites/favorites-config.js')
  script(defer src='./assets/scripts/favorites.js')

block content
  include ../includes/breadcrumbs.pug
  .favorites-full
    .favorites-title
      h2.our-projects__title Oбране
      .favorites-title__btn 
        a(href="#").favorites-title__link
          +svg('pdf')
          span.desctop Сформувати Pdf
          span.mobile Pdf-файл
        a(href="#").favorites-title__link
          +svg('btn-telegram')
          span.desctop Надіслати в телеграм
          span.mobile В Telegram

    .favorites-container
      ul.parametrs-list.fixed-parametrs-list
        li.parametrs-item 
          .flat Квартира
        li.parametrs-item 
          .project Проект
        li.parametrs-item 
          .deadline Заселення
        li.parametrs-item 
          .class клас жк
        li.parametrs-item.title-list
          .title Метраж
        li.parametrs-item 
          .total-area Загальна площа
        li.parametrs-item 
          .area Жила площа
        li.parametrs-item.title-list 
          .title Розташування
        li.parametrs-item 
          .town Місто
        li.parametrs-item 
          .floor Поверх
      .swiper-favorites 
        .swiper-button-prev
          +svg('arrow-back')
        .swiper-button-next
          +svg('arrow')
        .swiper-wrapper
          .swiper-slide
            .container-img
              .views 
                .desctop Це планування дивились 
                .number 89 
                .desctop разів
                .mobile переглядів
              a(href="flats.html").swiper-img
                img(src="./assets/images/planing/planing2.jpg", alt="")
              .delete-slide 
                +svg('close-select')
            ul.parametrs-list
              li.parametrs-item-mobile Квартира
              li.parametrs-item 
                .flat Квартира 95.2 м²
              li.parametrs-item-mobile Проект
              li.parametrs-item 
                .project Continent Black
              li.parametrs-item-mobile Заселення
              li.parametrs-item 
                .deadline ІІІ квартал 2021 р.
              li.parametrs-item-mobile клас жк
              li.parametrs-item 
                .class Комфорт
              li.parametrs-item.title-list
                .title.title-mobile Метраж
              li.parametrs-item-mobile Загальна площа
              li.parametrs-item 
                .total-area 95.2 м²
              li.parametrs-item-mobile Жила площа
              li.parametrs-item 
                .area 70.2 м²
              li.parametrs-item.title-list
                .title.title-mobile Розташування
              li.parametrs-item-mobile Місто
              li.parametrs-item 
                .town Буча
              li.parametrs-item-mobile Поверх
              li.parametrs-item 
                .floor 5/7
            .realty Дізнатись ціну
          .swiper-slide
            .container-img
              .views 
                .desctop Це планування дивились 
                .number 89 
                .desctop разів
                .mobile переглядів
              a(href="flats.html").swiper-img
                img(src="./assets/images/planing/planing3.jpg", alt="")
              .delete-slide 
                +svg('close-select')
            ul.parametrs-list
              li.parametrs-item-mobile Квартира
              li.parametrs-item 
                .flat Квартира 95.2 м²
              li.parametrs-item-mobile Проект
              li.parametrs-item 
                .project Continent Black
              li.parametrs-item-mobile Заселення
              li.parametrs-item 
                .deadline ІІІ квартал 2021 р.
              li.parametrs-item-mobile клас жк
              li.parametrs-item 
                .class Комфорт
              li.parametrs-item.title-list
                .title.title-mobile Метраж
              li.parametrs-item-mobile Загальна площа
              li.parametrs-item 
                .total-area 95.2 м²
              li.parametrs-item-mobile Жила площа
              li.parametrs-item 
                .area 70.2 м²
              li.parametrs-item.title-list
                .title.title-mobile Розташування
              li.parametrs-item-mobile Місто
              li.parametrs-item 
                .town Буча
              li.parametrs-item-mobile Поверх
              li.parametrs-item 
                .floor 5/7
            .realty Дізнатись ціну
          .swiper-slide
            .container-img
              .views 
                .desctop Це планування дивились 
                .number 89 
                .desctop разів
                .mobile переглядів
              a(href="flats.html").swiper-img
                img(src="./assets/images/planing/planing1.jpg", alt="")
              .delete-slide 
                +svg('close-select')
            ul.parametrs-list
              li.parametrs-item-mobile Квартира
              li.parametrs-item 
                .flat Квартира 95.2 м²
              li.parametrs-item-mobile Проект
              li.parametrs-item 
                .project Continent Black
              li.parametrs-item-mobile Заселення
              li.parametrs-item 
                .deadline ІІІ квартал 2021 р.
              li.parametrs-item-mobile клас жк
              li.parametrs-item 
                .class Комфорт
              li.parametrs-item.title-list
                .title.title-mobile Метраж
              li.parametrs-item-mobile Загальна площа
              li.parametrs-item 
                .total-area 95.2 м²
              li.parametrs-item-mobile Жила площа
              li.parametrs-item 
                .area 70.2 м²
              li.parametrs-item.title-list
                .title.title-mobile Розташування
              li.parametrs-item-mobile Місто
              li.parametrs-item 
                .town Буча
              li.parametrs-item-mobile Поверх
              li.parametrs-item 
                .floor 5/7
            .realty Дізнатись ціну
          .swiper-slide
            .container-img
              .views 
                .desctop Це планування дивились 
                .number 89 
                .desctop разів
                .mobile переглядів
              a(href="flats.html").swiper-img
                img(src="./assets/images/planing/planing1.jpg", alt="")
              .delete-slide 
                +svg('close-select')
            ul.parametrs-list
              li.parametrs-item-mobile Квартира
              li.parametrs-item 
                .flat Квартира 95.2 м²
              li.parametrs-item-mobile Проект
              li.parametrs-item 
                .project Continent Black
              li.parametrs-item-mobile Заселення
              li.parametrs-item 
                .deadline ІІІ квартал 2021 р.
              li.parametrs-item-mobile клас жк
              li.parametrs-item 
                .class Комфорт
              li.parametrs-item.title-list
                .title.title-mobile Метраж
              li.parametrs-item-mobile Загальна площа
              li.parametrs-item 
                .total-area 95.2 м²
              li.parametrs-item-mobile Жила площа
              li.parametrs-item 
                .area 70.2 м²
              li.parametrs-item.title-list
                .title.title-mobile Розташування
              li.parametrs-item-mobile Місто
              li.parametrs-item 
                .town Буча
              li.parametrs-item-mobile Поверх
              li.parametrs-item 
                .floor 5/7
            .realty Дізнатись ціну
   
   
 
 
  .favorites-empty 
    +svg('favorites-logo')
    h3.title-parametrs Ви поки що нічого не додали до обраного 
    a(href="#").realty
      span Oбрати квартиру
      +svg('arrow')


block header
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug