extends ../layout/main
block variable
block meta
  title= 'Main'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
  //- script(defer src='./assets/scripts/scroll-down.js')
  //- script(defer src='./assets/scripts/footer.js')
  //- script(defer src='./assets/scripts/animation.js')
block arrow 
    //- +svg('scroll-down').js-scroll-down 
block content
  section.main-content 
    h1.main-content__title Благоустрої за сценарієм вашого життя
    a(href='#').realty
      span Обрати квартиру
      +svg('arrow')
    ul.numbers-list
      li.numbers-item.col
        .number(id="num-1") 0
        .text років на ринку нерухомості
      li.numbers-item.col
        .number(id="num-2") 0
        .text об`єктів реалізовано 
      li.numbers-item.col
        .number(id="num-3") 0
        .text м² здано в експлуатацію
      li.numbers-item.col
        .number(id="num-4") 0
        .text об`єкти на стадії будівництва
  section.our-projects
    .our-projects-title-container 
      h2.our-projects__title Наші проекти
      .tab
        button.tablinks.tabs__nav-btn(data-tab="#tab_1") Aктивні проекти
          span 5
        button.tablinks.tabs__nav-btn(data-tab="#tab_2") Pеалізовані проекти
          span 7
    .tabcontent.tabs__item(id="tab_1")
      ul.active-project
        li.active-project__item
          a(href="#").active-project__link
            .active-project__container-title
              .active-project__img
                img(src="./assets/images/project1.jpg", alt="" data-paralax)
              h3.active-project__title ЖК Continent Ray
              h4.active-project__description Живи на яскравій стороні життя
            ul.active-project__description-list 
              li.active-project__description-item 
                p.project-parameter Місто
                p.project-value Буча
              li.active-project__description-item 
                p.project-parameter Вартість
                p.project-value від 21 500 грн/м²
              li.active-project__description-item 
                p.project-parameter Площі
                p.project-value від 35 м² до 108 м²
              li.active-project__description-item 
                p.project-parameter Відстань до метро
                p.project-value 25 хв до м. Академмістечко
              li.active-project__description-item 
                p.project-parameter клас жк
                p.project-value комфорт
            .advertising Підвищення цін з 15 жовтня
        li.active-project__item
          a(href="#").active-project__link
            .active-project__container-title
              .active-project__img
                img(src="./assets/images/project2.jpg", alt="" data-paralax)
              h3.active-project__title ЖК Continent RAY 2
              h4.active-project__description живіть у серці міста
            ul.active-project__description-list 
              li.active-project__description-item 
                p.project-parameter Місто
                p.project-value Буча
              li.active-project__description-item 
                p.project-parameter Вартість
                p.project-value від 20 000 грн/м²
              li.active-project__description-item 
                p.project-parameter Площі
                p.project-value від 35 м² до 108 м²
              li.active-project__description-item 
                p.project-parameter Відстань до метро
                p.project-value 25 хв до м. Академмістечко
              li.active-project__description-item 
                p.project-parameter клас жк
                p.project-value комфорт
        li.active-project__item
          a(href="#").active-project__link
            .active-project__container-title
              .active-project__img
                img(src="./assets/images/project3.jpg", alt="" data-paralax)
              h3.active-project__title ЖК Continent RAY 2.2
              h4.active-project__description живіть у серці міста
            ul.active-project__description-list 
              li.active-project__description-item 
                p.project-parameter Місто
                p.project-value Буча
              li.active-project__description-item 
                p.project-parameter Вартість
                p.project-value від 17 000 грн/м²
              li.active-project__description-item 
                p.project-parameter Площі
                p.project-value від 29 м² до 64 м²
              li.active-project__description-item 
                p.project-parameter Відстань до метро
                p.project-value 25 хв до м. Академмістечко
              li.active-project__description-item 
                p.project-parameter клас жк
                p.project-value комфорт
        li.active-project__item
          a(href="#").active-project__link
            .active-project__container-title
              .active-project__img
                img(src="./assets/images/project4.jpg", alt="" data-paralax)
              h3.active-project__title ЖК Continent RAY 2.2
              h4.active-project__description живіть у серці міста
            ul.active-project__description-list 
              li.active-project__description-item 
                p.project-parameter Місто
                p.project-value Буча
              li.active-project__description-item 
                p.project-parameter Вартість
                p.project-value від 20 000 грн/м²
              li.active-project__description-item 
                p.project-parameter Площі
                p.project-value від 35 м² до 86 м²
              li.active-project__description-item 
                p.project-parameter Відстань до метро
                p.project-value 25 хв до м. Академмістечко
              li.active-project__description-item 
                p.project-parameter клас жк
                p.project-value комфорт
        li.active-project__item
          a(href="#").active-project__link
            .active-project__container-title.active-project__anons-project(style="background-image:url('./assets/images/project-anons.jpg')")
              +svg('continent')
              h3.active-project__title Continent Black
              h4.active-project__description Анонс нового проекту
              ul.active-project__description-list 
                li.active-project__description-item 
                  p.project-parameter Місто
                  p.project-value Буча
                li.active-project__description-item 
                  p.project-parameter клас жк
                  p.project-value комфорт
              button.btn-subscribe
                +svg('plus')
                span Підписатись на розсилку
    .tabcontent.tabs__item.tabcontent-realized(id="tab_2")
      .projects-swiper
        .swiper-wrapper
          .swiper-slide
            .projects-swiper__img
              img(src="./assets/images/project1.jpg", alt="")
            .swiper-slide__info
              a(href="#") Bazar Vokzal 
              p Цивілізація – це Continent.
              p Нова візитка бучі!
          .swiper-slide
            .projects-swiper__img
              img(src="./assets/images/project2.jpg", alt="")
            .swiper-slide__info
              a(href="#") !!!Bazar Vokzal 
              p !!!Цивілізація – це Continent.
              p !!!Нова візитка бучі!!!!
        .swiper-navigation
          .swiper-pagination
          .container-scrollbar
            .swiper-scrollbar
          .swiper-btn
            .swiper-button-prev
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="22" cy="22" r="22" fill="black"/>
                <path d="M24.6566 15.9999L18.9998 21.6567L24.6566 27.3136" stroke="white" stroke-width="2" stroke-linecap="round"/>
              </svg>
            .swiper-button-next
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="22" cy="22" r="22" fill="black"/>
                <path d="M20.6569 15.9999L26.3137 21.6567L20.6569 27.3136" stroke="white" stroke-width="2" stroke-linecap="round"/>
              </svg>













block header
  include ../includes/header.pug
//- block footer
//-   include ../includes/footer.pug



