extends ../layout/main
block variable
  -
    var title_page = 'Акції та новини'
    var id_page = 'news-page'
    var class_page = 'news-page'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]

block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header-menu.js')
  script(defer src='./assets/scripts/header-single.js')
  script(defer src='./assets/scripts/select.js')
  script(defer src='./assets/scripts/news.js')

block content
  include ../includes/breadcrumbs.pug
  .mobile-sort-list2.js-mobile-filter
    .contant 
      .mobile-filter-close 
          h4 Фільтр
          +svg('close-select').js-close-filter
      ul.sort-list 
        li.sort-item.check Всі акції та новини
        li.sort-item Акції
        li.sort-item Новини        
  .mobile-sort-list2.js-sort-list
    .contant 
      .mobile-filter-close 
          h4 Фільтр
          +svg('close-select').js-close-sort
      ul.sort-list 
        li.sort-item.check Всі ЖК
        li.sort-item Continent Ray
        li.sort-item Continent Black
        li.sort-item Continent Ray 2.1            
  .news-container
    h2.our-projects__title Акції та новини
    .news-filter
      button.btn-mobile-filter.js-open-filter
        +svg('filter')
        span Фільтр
      button.btn-mobile-filter.js-sort-btn
        span Всі ЖК 
        +svg('arrow-select')
      .tab
        button.tablinks.tabs__nav-btn.active Всі акції та новини
        button.tablinks.tabs__nav-btn Акції
        button.tablinks.tabs__nav-btn Новини
    
      select(class="select" name="connection")
        option(disabled) Всі ЖК
        option(value="Continent-Ray") Continent Ray
        option(value="Continent-Black") Continent Black
        option(value="Continent-Ray-2.1") Continent Ray 2.1

  ul.news-list 
    li.news-item 
      a(href="single-news-promotion.html").news-link
        .news-img 
          img(src="./assets/images/news/news1.jpg", alt="")
        .news-text
          h5.date 24.04.2021
          h4.title Купуй більше – плати менше!
        ul.markers 
          li.markers-item акція
          li.markers-item continent black
    li.news-item 
      a(href="single-news.html").news-link
        .news-img 
          img(src="./assets/images/news/news2.jpg", alt="")
        .news-text
          h5.date 12.04.2021
          h4.title Вхопіть великодню знижку за вуха! -4% на всі квартири від Континенту
        ul.markers 
          li.markers-item новини 
    li.news-item 
      a(href="single-news.html").news-link
        .news-img 
          img(src="./assets/images/news/news3.jpg", alt="")
        .news-text
          h5.date 19.03.2021
          h4.title Чорна п’ятниця в Континенті! Реальні знижки до 60 000 грн НА ВСІ квартири!
        ul.markers 
          li.markers-item новини 
          li.markers-item continent ray
    li.news-item 
      a(href="single-news.html").news-link
        .news-img 
          img(src="./assets/images/news/news4.jpg", alt="")
        .news-text
          h5.date 24.04.2021
          h4.title Отримуйте безвідсоткову розстрочку або знижку до 140 000 грн на дворівневі квартири
        ul.markers 
          li.markers-item новини 
          li.markers-item continent ray
    li.news-item 
      a(href="single-news-promotion.html").news-link
        .news-img 
          img(src="./assets/images/news/news5.jpg", alt="")
        .news-text
          h5.date 12.04.2021
          h4.title Чорна п’ятниця в Континенті! Реальні знижки до 60 000 грн НА ВСІ квартири!
        ul.markers 
          li.markers-item акція
          li.markers-item continent ray
    li.news-item 
      a(href="single-news-promotion.html ").news-link
        .news-img 
          img(src="./assets/images/news/news6.jpg", alt="")
        .news-text
          h5.date 19.03.2021
          h4.title В ЖК «Континент» відкрився дитячий садочок «Зірочки»
        ul.markers 
          li.markers-item акція
          li.markers-item continent ray
    li.news-item 
      a(href="#").news-link
        .news-img 
          img(src="./assets/images/news/news7.jpg", alt="")
        .news-text
          h5.date 24.04.2021
          h4.title Отримуйте безвідсоткову розстрочку або знижку до 140 000 грн на дворівневі квартири
        ul.markers 
          li.markers-item новини
          li.markers-item continent ray
    li.news-item 
      a(href="#").news-link
        .news-img 
          img(src="./assets/images/news/news8.jpg", alt="")
        .news-text
          h5.date 12.04.2021
          h4.title Чорна п’ятниця в Континенті! Реальні знижки до 60 000 грн НА ВСІ квартири!
        ul.markers 
          li.markers-item акція
    li.news-item 
      a(href="#").news-link
        .news-img 
          img(src="./assets/images/news/news9.jpg", alt="")
        .news-text
          h5.date 19.03.2021
          h4.title В ЖК «Континент» відкрився дитячий садочок «Зірочки»
        ul.markers 
          li.markers-item новини
          li.markers-item continent ray
  .pagination
    +svg('arrow-back')
    ul.pagination-list 
      li.pagination-item.active-item 1 
      li.pagination-item 2
      li.pagination-item 3
      li.pagination-item 4
      li.pagination-item 5
      li.pagination-item 6
      li.pagination-item ...
      li.pagination-item 13
    +svg('arrow')
  include ../includes/sing-up.pug




block header
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug