extends ../layout/main
block variable
  -
    var title_page = 'приміщення 95.2'
    var id_page = 'single-commerce'
    var class_page = 'single-commerce'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'Комерційні приміщення',
        link: pagesLink[0].documents
      }
    ]
    
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header-single.js')
  script(defer src='./assets/scripts/header-menu.js')
  script(defer src='./assets/scripts/commerce.js')
  script(defer src='./assets/scripts/select.js') 
  script(defer src='./assets/scripts/single-commerce.js')

block content
  .single-commerce-container
    .single-commerce-container__img
      include ../includes/breadcrumbs.pug
      .commerce-swiper 
        .swiper-wrapper 
          .swiper-slide 
            //- +svg('flat1').flat
            img(src='./assets/images/planing/planing1.png')

            +svg('btn-scale').btn-scale.js-btn-scale
            +svg('compas').btn-compass
          .swiper-slide 
            //- +svg('flat1')
            img(src='./assets/images/planing/planing2.png')
            +svg('btn-scale').btn-scale.js-btn-scale
            +svg('compas').btn-compass
        
        .swiper-pagination
        .swiper-button-prev
          <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.0007 1.99971L2.00039 10L10.0007 18.0003" stroke="#939393" stroke-width="2.33333" stroke-linecap="round"/>
          </svg>

        .swiper-button-next
          <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.9998 1.99971L9.99961 9.99951L1.9998 17.9993" stroke="#939393" stroke-width="2.33333" stroke-linecap="round"/>
          </svg>




    .single-commerce-container__description 
      img(src="./assets/images/logo-bazar.png", alt="").logo-bazar
      h3.single-commerce-container__title Приміщення 95.2 м² 
      h4.single-commerce-container__title-complex Сontinent Black
      ul.description-list 
        li.description-item 
          .title Кімнати
          .content 3
        li.description-item 
          .title Поверх
          .content 4/5
        li.description-item 
          .title Загальна площа
          .content 95.2 м² 
        li.description-item 
          .title Строки здачі
          .content ІІІ кв. 2021
        li.description-item 
          .title Строки окупності
          .content 3 роки
      p.benefits-text Приміщення вільного призначення. Хороша видимість дороги. Підійдe під магазин, аптеку, кав’ярню тощо.
      .btn-container 
        a(href="#")
          +svg('pdf')
          span Pdf-файл
        a(href="#")
          +svg('btn-telegram')
          span В Telegram
      button.nav__call-btn.js-call( type="button")
        span.nav__call-btn-text Дізнатись ціну
        +svg('arrow')
         
  .specification 
    h2.our-projects__title Характеристики
    .specification__container 
      ul.specification__list 
        li.specification__item
          +svg('ventilation')
          .specification__text 
            p.description Вентиляція
        li.specification__item
          +svg('electricity')
          .specification__text 
            p.description Ел. потужність <br> від 200 Вт/м2
        li.specification__item
          +svg('window')
          .specification__text 
            p.description Вітринні вікна
        li.specification__item
          +svg('height')
          .specification__text 
            p.description Висота стелі <br> від 3,2 до 6,2 м
        li.specification__item
          +svg('water')
          .specification__text 
            p.description Холодне і гаряче водопостачання
 
  .similar-apartment 
    .similar-apartment__title
      h2.our-projects__title Cхожі приміщення
      .swiper-btn
        .swiper-button-prev1
          +svg('swiper-prev')
        .swiper-button-next1
          +svg('swiper-next')
    .similar-apartment-swiper 
      .swiper-wrapper 
        .swiper-slide
          a(href="#").planing__link
            .planing__img 
              img(src='./assets/images/planing/planing1.jpg')
            h4.planing__title
              span ЖК: 
              | Сontinent Black
            .square 
              +svg('space')
              .square-description 
                p.title Площа:
                p.value 48 м²
        .swiper-slide
          a(href="#").planing__link
            .planing__img 
              img(src='./assets/images/planing/planing2.jpg')
            h4.planing__title
              span ЖК: 
              | Сontinent Black
            .square 
              +svg('space')
              .square-description 
                p.title Площа:
                p.value 48 м²
        .swiper-slide
          a(href="#").planing__link
            .planing__img 
              img(src='./assets/images/planing/planing3.jpg')
            h4.planing__title
              span ЖК: 
              | Сontinent Black
            .square 
              +svg('space')
              .square-description 
                p.title Площа:
                p.value 48 м²
      
      

  include ../includes/sing-up.pug

block header
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug 