.parametrs-item-mobile:nth-child(17),
.parametrs-item-mobile:nth-child(15),
.parametrs-item:nth-child(14),
.parametrs-item-mobile:nth-child(12),
.parametrs-item-mobile:nth-child(10),
.parametrs-item-mobile:nth-child(11),
.parametrs-item:nth-child(9),
.parametrs-item-mobile:nth-child(7),
.parametrs-item-mobile:nth-child(5),
.parametrs-item-mobile:nth-child(3),
.parametrs-item-mobile:nth-child(1) {
  position: absolute;
  left: 0;
  top: 264px;
  width: 100vw;
  z-index: 20;
  transition: opacity .1s ease-out
}

.parametrs-item-mobile:nth-child(3) {
  top: calc(264px + 55px + 40px);
}
.parametrs-item-mobile:nth-child(5) {
  top: calc(264px + 55px + 40px + 55px + 40px);
}
.parametrs-item-mobile:nth-child(7) {
  top: calc(264px + 55px + 40px + 55px + 40px + 55px + 40px);
}
.parametrs-item:nth-child(9) {
  top: calc(264px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px);
  background-color: white;
}
.parametrs-item-mobile:nth-child(10) {
  top: calc(264px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 30px);
}
.parametrs-item-mobile:nth-child(11) {
  top: calc(264px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px);
}
.parametrs-item-mobile:nth-child(12) {
  top: calc(264px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px);
}
.parametrs-item:nth-child(14) {
  top: calc(264px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px);
}
.parametrs-item-mobile:nth-child(15) {
  top: calc(264px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 125px);
}
.parametrs-item-mobile:nth-child(17) {
  top: calc(264px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 40px + 55px + 125px + 40px + 55px);
}
.parametrs-item-mobile:nth-child(17),
.parametrs-item-mobile:nth-child(15),
.parametrs-item:nth-child(14),
.parametrs-item-mobile:nth-child(12),
.parametrs-item-mobile:nth-child(11),
.parametrs-item-mobile:nth-child(10),
.parametrs-item:nth-child(9),
.parametrs-item-mobile:nth-child(7),
.parametrs-item-mobile:nth-child(5),
.parametrs-item-mobile:nth-child(3),
.parametrs-item-mobile:nth-child(1) {
  opacity: 0;
}
.swiper-slide-active .parametrs-item-mobile:nth-child(17),
.swiper-slide-active .parametrs-item-mobile:nth-child(15),
.swiper-slide-active .parametrs-item:nth-child(14),
.swiper-slide-active .parametrs-item-mobile:nth-child(12),
.swiper-slide-active .parametrs-item-mobile:nth-child(10),
.swiper-slide-active .parametrs-item-mobile:nth-child(11),
.swiper-slide-active .parametrs-item:nth-child(9),
.swiper-slide-active .parametrs-item-mobile:nth-child(7),
.swiper-slide-active .parametrs-item-mobile:nth-child(5),
.swiper-slide-active .parametrs-item-mobile:nth-child(3),
.swiper-slide-active .parametrs-item-mobile:nth-child(1) {
  opacity: 1;

}
@include to(575px){
 .favorites-container {
   width: 100vw;
   padding-left: 0;
   padding-right: 0;
  }
  .swiper-favorites {
   overflow: initial;
 }
//  .parametrs-item-mobile:nth-child(10) {
//    margin-top: 100px;
//  }
.parametrs-item:nth-child(11) {
  margin-top: 150px;
}
 .parametrs-item:nth-child(16) {
   margin-top: 125px;
 }
 .parametrs-item:nth-child(18),
 .parametrs-item:nth-child(13),
 .parametrs-item:nth-child(8),
 .parametrs-item:nth-child(6),
 .parametrs-item:nth-child(4),
 .parametrs-item:nth-child(2) {
  margin-top: 40px;
 }
 .title-list {
   padding-left: 20px;
 }
}