.news-tab {
  input {
    display: none;
  }
  input:checked+label {
    background-color: $yellow;
  }
  label {
    transition: background-color .3s ease-in-out;
    cursor: pointer;
  }
  label:first-of-type {
    border-radius: 32px 0px 0px 32px;
  }
  label:last-of-type {
    border-radius:  0px 32px 32px 0px ;
  }
}