.lang-block {
  display: flex;
}
.lang-block__item {
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}
.lang-block__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  color: #000000;
  position: relative;
  transition: color 0.4s ease;
  &::before {
    content: '';
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000000;
    top: 100%;
    left: 0;
    pointer-events: none;
  }
  &:hover {
    @include from(992px) {
      // color: #ffbb01;
      &::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
      }
    }
  }
}
.active {
  .lang-block__link {
    color: #fec62e;
  }
}
// .lang-block {
//   // display: flex;
//   // position: relative;
//   // height: 65px;
//   // width: 65px;
//   // // overflow: hidden;
//   // transition: all 0.3s ease-in-out;
//   // cursor: pointer;
//   // margin-right: 70px;
//   // // font-weight: 500;
//   // // font-size: 16px;
//   // // line-height: 140%;
//   // // text-align: center;
//   // // letter-spacing: 0.01em;
//   // // text-transform: uppercase;
//   // // color: #435055;
//   // border: 1px solid #79b43e;
//   // border-radius: 50%;
//   // padding: 23px 22px;

//   // @include to(1440px) {
//   //   // height: 72px;
//   //   height: 24px;
//   //   width: 42px;
//   // }
//   // @include to(576px) {
//   //   height: 20px;
//   //   width: 38px;
//   //   position: absolute;
//   //   left: 100px;
//   // }
//   margin-right: 70px;
//   a {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 140%;
//     text-align: center;
//     letter-spacing: 0.01em;
//     text-transform: uppercase;
//     color: #435055;
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     text-align: center;
//     transition: all 0.5s ease-in;
//   }
//   &:hover {
//     @include from(951px) {
//       overflow: initial;
//       height: 150px;
//       @include to(1440px) {
//         height: 72px;
//       }
//       li {
//         opacity: 1;
//       }
//     }
//   }
//   a {
//     pointer-events: none;
//   }

//   ul {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: 100%;
//     display: flex;
//     position: relative;
//     height: 65px;
//     width: 65px;
//     overflow: hidden;
//     transition: all 0.3s ease-in-out;
//     cursor: pointer;
//     // margin-right: 70px;
//     padding: 22px 20px;
//     // font-weight: 500;
//     // font-size: 16px;
//     // line-height: 140%;
//     // text-align: center;
//     // letter-spacing: 0.01em;
//     // text-transform: uppercase;
//     // color: #435055;
//     border: 1px solid #79b43e;
//     border-radius: 50%;
//   }
//   li {
//     // opacity: 0;
//     opacity: 1;
//     margin-bottom: 20px;

//     // @include to(1440px) {
//     //   height: 24px;
//     //   width: 42px;
//     //   font-size: 14px;
//     // }
//     // @include to(576px) {
//     //   height: 20px;
//     //   width: 38px;
//     //   font-size: 12px;
//     // }

//     &.active {
//       opacity: 1;
//       pointer-events: none;
//       padding-top: 103px;
//       // &:hover {
//       //   ~ li {
//       //     opacity: 1;
//       //     a {
//       //       pointer-events: painted;
//       //     }
//       //   }
//       // }
//     }
//   }
// }

// // .lang-block {
// //   display: flex;
// //   position: relative;
// //   height: 93px;
// //   width: 52px;
// //   overflow: hidden;
// //   transition: all 0.3s ease-in-out;
// //   // pointer-events: painted;
// //   @include to(1440px) {
// //     // height: 72px;
// //     height: 24px;
// //     width: 42px;
// //   }
// //   @include to(576px) {
// //     height: 60px;
// //     width: 38px;
// //     position: absolute;
// //     left: 100px;
// //   }
// //   &:hover {
// //     overflow: initial;
// //     li {
// //       opacity: 1;
// //     }
// //   }
// //   ul {
// //     display: flex;
// //     flex-direction: column;
// //     justify-content: center;
// //     height: 100%;
// //   }
// //   li {
// //     font-size: 18px;
// //     line-height: 1.7;
// //     text-transform: uppercase;
// //     color: $blue;
// //     text-decoration: none;
// //     height: 31px;
// //     width: 52px;
// //     text-align: center;
// //     transition: all 0.3s ease-in-out;
// //     opacity: 0;
// //     @include to(1440px) {
// //       height: 24px;
// //       width: 42px;
// //       font-size: 14px;
// //     }
// //     @include to(576px) {
// //       height: 20px;
// //       width: 38px;
// //       font-size: 12px;
// //     }
// //     a {
// //       color: $blue;
// //       text-decoration: none;
// //       display: flex;
// //       justify-content: space-between;
// //       align-items: center;
// //       transition: all 0.3s ease-in-out;
// //       &:hover {
// //         color: $gold;
// //       }
// //     }

// //     &.active {
// //       opacity: 1;
// //       pointer-events: none;
// //       // &:hover {
// //       //   ~ li {
// //       //     opacity: 1;
// //       //     a {
// //       //       pointer-events: painted;
// //       //     }
// //       //   }
// //       // }
// //     }
// //   }
// // }
// // // .lang-block:hover {
// // //   li {
// // //     opacity: 1;
// // //   }
// // // }
// // .lang-arrow {
// //   fill: $blue;
// //   margin-left: 10px;
// //   transition: all 0.3s ease-in-out;
// // }
