.container-404 {
  margin-top: var(--header-h);
  width: 100vw;
  height: calc(100vh - var(--header-h));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include to(575px) {
    padding: 0 22px;
  }
  .title {
    font-weight: 600;
    font-size: 88px;
    line-height: 1.23;
    text-align: center;
    color: #fec62e;
    margin-bottom: 30px;
  }
  .description {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
    @include to(575px) {
      font-size: 24px;
    }
  }
  .advice {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #000000;
    margin-bottom: 56px;
  }
  &__btn {
    display: flex;
    @include to(575px) {
      flex-direction: column;
    }
    .btn-404 {
      margin-right: 16px;
      width: 218px;
      height: 64px;
      @include to(575px) {
        width: 248px;
        height: 48px;
        margin-bottom: 16px;
      }
      &:last-child {
        margin-right: 0;
      }
      &__link {
        width: 218px;
        height: 64px;
        background: #fec62e;
        border-radius: 44px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.2s ease;
        @include to(575px) {
          width: 248px;
          height: 48px;
          font-size: 14px;
        }
        svg {
          margin-left: 8px;
          width: 24px;
          height: auto;
          fill: none;
        }
        &:hover {
          @include from(992px) {
            background: #ffbb01;
          }
        }
      }
    }
  }
}
