footer {
  background: #141414;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .footer {
    display: flex;
    width: 100%;
    @include to(992px) {
      flex-direction: column;
    }
    .navigation-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      @include to(992px) {
        width: 100%;
      }
      .navigation-container__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 56px 0 56px vw(160, 1920);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        @include to(1440px) {
          padding: 56px 0 56px vw(100, 1440);
        }
        @include to(1280px) {
          padding: 56px 0 56px vw(32, 1280);
        }
        @include to(992px) {
          padding: 32px 22px;
        }
        .logo {
          width: 50%;
          svg {
            width: 157px;
            height: 60px;
            @include to(992px) {
              width: 123px;
              height: 47px;
            }
            .logo-fill {
              fill: $white;
            }
          }
        }
        .group-logo {
          width: 50%;
          svg {
            width: 200px;
            height: 60px;
            fill: #ffffff;
            @include to(992px) {
              width: 153px;
              height: 45px;
            }
          }
        }
      }
      .navigation-container__move {
        width: 100%;
        padding: 52px 0 52px vw(160, 1920);
        display: flex;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        @include to(1440px) {
          padding: 52px 0 52px vw(100, 1440);
        }
        @include to(1280px) {
          padding: 52px 0 52px vw(32, 1280);
        }
        @include to(992px) {
          padding: 32px 22px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        ul {
          width: 50%;
          li {
            margin-bottom: 24px;
            @include to(992px) {
              max-width: 152px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            a {
              text-decoration: none;
              font-weight: 600;
              font-size: 16px;
              line-height: 1.25;
              color: #ffffff;
              transition: color 0.4s ease;
              &:hover {
                @include from(992px) {
                  color: #fec62e;
                }
              }
            }
          }
        }
      }
    }
    .contact-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      @include to(992px) {
        width: 100%;
      }
      .contact-container__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 56px vw(160, 1920);
        @include to(1440px) {
          padding: 56px vw(100, 1440);
        }
        @include to(1280px) {
          padding: 56px vw(32, 1280);
        }
        @include to(992px) {
          padding: 32px 22px;
        }
        .footer-map {
          margin-bottom: 50px;
          @include to(992px) {
            margin-bottom: 24px;
          }
          a {
            text-decoration: none;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.25;
            color: #ffffff;
            @include to(992px) {
              font-size: 16px;
            }
          }
        }
        .footer-tel {
          margin-bottom: 50px;
          display: flex;
          flex-direction: column;
          @include to(992px) {
            flex-direction: row;
            margin-bottom: 24px;
          }
          a {
            text-decoration: none;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.25;
            color: #ffffff;
            @include to(992px) {
              font-size: 16px;
              &:first-child {
                margin-right: 60px;
              }
            }
          }
        }
        .schedule {
          &__link {
            display: flex;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.25;
            color: #ffffff;
            @include to(992px) {
              font-size: 16px;
            }
          }
          &__label {
            width: 18%;
          }
        }
      }
      .footer-social {
        display: flex;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        @include to(992px) {
          flex-wrap: wrap;
        }
        &__item {
          width: calc(100% / 4);
          border-right: 1px solid rgba(255, 255, 255, 0.5);

          // background: transparent;
          transition: background 0.4s ease;
          @include to(992px) {
            width: calc(100% / 2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            padding: 32px 0;
          }
          &:hover {
            @include from(992px) {
              .footer-social__list {
                background: #ffffff;
              }
              .footer-social__link {
                color: #000000;
              }
            }
          }
        }
        &__link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.25;
          color: #ffffff;
          padding: 44px 0 45px 0;
          transition: color 0.4s ease;
          
        }
      }
    }
  }
  .footer-rights {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #ffffff;
    opacity: 0.5;
    @include to(992px) {
      padding: 24px 0;
    }
  }
}
