.menu-container {
  width: 65vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  right: -100%;
  background: $white;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  // visibility: visible;
  // opacity: 1;
  // transition: opacity 0.4s ease-in-out 0, visibility 0.1s ease-in-out 0.4s;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    right 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 150;
  @include to(992px) {
    width: 100vw;
    .nav__call-btn {
      display: none;
    }
  }
  @include to(450px){
    height: 100%;
    min-height: -webkit-fill-available;
  }
  &.active-menu {
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    right: 0;
    overflow: visible;
  }
  &:after {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    width: 101%;
    height: 101%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
  }
  .header {
    position: relative;
    align-items: flex-end;
    justify-content: center;
    height: var(--header-h);
    padding-right: vw(160, 1920);
    @include to(1440px) {
      padding-right: vw(42, 1440);
    }
    @include to(1280px) {
      padding-right: vw(32, 1280);
      border-bottom: 1px solid #000000;
    }
    @include to(992px) {
      padding: 0 22px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .header-mobile-call {
      stroke: $black;
    }
    .nav__tel-link {
      color: #000000;
    }
    .realty__link svg {
      stroke: #000000;
    }
    .menu__img {
      width: 16px;
      height: 16px;
    }
    .menu__text {
      color: #000000;
    }
  }
}

.menu-content {
  padding: 0 vw(100, 1920);
  display: flex;
  align-items: center;
  height: calc((100% - var(--header-h)) - 112px);
  @include to(992px) {
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 8vh;
    border-bottom: 1px solid #000000;
    height: calc((100% - var(--header-h)) - 170px);
  }
  @include to(450px){
    padding-top: 30px;
  }
}
.menu-content__section-big {
  width: 68%;
  display: flex;
  flex-direction: column;
  @include to(992px) {
    width: 50%;
  }
  .realty {
    border: none;
    width: 308px;
    font-family: $default-font;
    position: absolute;
    left: vw(100, 1920);
    bottom: 48px;
    @include to(992px) {
      bottom: 24px;
      left: 22px;
      width: calc(100% - 44px);
    }
  }
  .menu-block {
    display: flex;
    flex-direction: column;
    &__item {
      margin-bottom: 40px;
      width: 305px;
      @include to(992px) {
        margin-bottom: 24px;
        width: auto;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      text-decoration: none;
      font-weight: 600;
      font-size: 40px;
      line-height: 100%;
      color: #000000;
      position: relative;
      transition: color 0.4s ease;
      @include to(992px) {
        font-size: 20px;
      }
      &::before {
        content: '';
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
        position: absolute;
        width: 100%;
        height: 1px;
        background: #ffbb01;
        top: 100%;
        left: 0;
        pointer-events: none;
      }
      &:hover {
        @include from(992px) {
          color: #ffbb01;
          &::before {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
            color: #79b43e;
          }
        }
      }
    }
  }
}
.menu-social {
  display: flex;
  padding-top: 20px;
  @include to(992px) {
    padding-top: 0;
    width: 50%;
  }
  @include to(575px) {
    padding-top: 0;
    width: calc(100% - 44px);
  }
  &__item {
    margin-right: 16px;
    @include to(992px) {
      margin-right: auto;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .facebook,
  .telegram,
  .youtube,
  .tiktok,
  .whatsapp {
    circle {
      fill: #f3f0ef;
      transition: all 0.4s ease;
    }
    path {
      fill: #000000;
      transition: all 0.4s ease;
    }
    &:hover {
      @include from(992px) {
        circle {
          fill: #227aee;
        }
        path {
          fill: white;
        }
      }
    }
  }
  .telegram {
    &:hover {
      @include from(992px) {
        circle {
          fill: #4fc0f9;
        }
        path {
          fill: white;
        }
      }
    }
  }
  .youtube {
    &:hover {
      @include from(992px) {
        circle {
          fill: #fc0d1b;
        }
        path {
          fill: white;
        }
      }
    }
  }
  .tiktok {
    &:hover {
      @include from(992px) {
        circle {
          fill: #000000;
        }
        path {
          fill: white;
        }
      }
    }
  }
  .whatsapp {
    &:hover {
      @include from(992px) {
        circle {
          fill: #34ce66;
        }
        path {
          fill: white;
        }
      }
    }
  }
  .menu-social__instagram {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #f3f0ef;
    transition: all 0.4s ease;
    position: relative;
    svg {
      fill: #000000;
      transition: all 0.4s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      @include from(992px) {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
        svg {
          fill: white;
        }
      }
    }
  }
}
.menu-block__item.mobile-menu-sociale {
  @include to(992px) {
    position: absolute;
    bottom: 96px;
    left: 22px;
    width: 100%;
  }
}
.menu-content__section {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @include to(992px) {
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu-block {
    display: flex;
    flex-direction: column;
    &__item {
      margin-bottom: 26px;
      @include to(992px) {
        margin-bottom: 20px;
      }
      @include to(450px){
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      text-decoration: none;
      font-weight: 600;
      font-size: 22px;
      line-height: 1.25;
      color: #000000;
      position: relative;
      transition: color 0.4s ease;
      @include to(992px) {
        font-size: 16px;
      }
      &::before {
        content: '';
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
        position: absolute;
        width: 100%;
        height: 1px;
        background: #ffbb01;
        top: 100%;
        left: 0;
        pointer-events: none;
      }
      &:hover {
        @include from(992px) {
          color: #ffbb01;
          &::before {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
            color: #79b43e;
          }
        }
      }
    }
  }
  .bottom-contant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    // left: 0;
    bottom: -64px;
    .social-select {
      opacity: 1;
      position: initial;
      @include to(992px) {
        display: none;
      }
    }
  }
}

.mobile-menu-logo {
  width: 122px;
  height: 47px;
  display: none;
  @include to(992px) {
    display: initial;
  }
}
